<!-- 
<form [formGroup]="form"  (ngSubmit)="addliablityDetails(form1)"> -->

    <div *ngFor ="let HHLiability of HHLiabilityInfo">
<section class="detailsbox whiteclr marT20">
    <ul class="detailsUL detailsULNew">
        <li><label>Member Name</label>
            <!-- <span>S sharma</span> -->
            <span>{{HHLiability?.MemberName }}</span>

        </li>
        <li><label>Institution Type</label>
            <!-- <span>Own</span> -->
            <span>{{HHLiability?.InstitutionType }}</span>
        </li>
        <li><label>Institution Name</label>
            <!-- <span>Name of Institution</span> -->
            <span>{{HHLiability?.InstitutionName }}</span>
        </li>
        <li><label>Loan Account No</label>
            <!-- <span>123456</span> -->
            <span>{{HHLiability?.LoanAccountNo }}</span>
        </li>

        <li><label>Outstanding Bal</label>
            <!-- <span>23000</span> -->
            <span>{{HHLiability?.OutstandingBalance }}</span>
        </li>
        <li><label>EMI</label>
            <!-- <span>2000</span> -->
            <span>{{HHLiability?.EMI }}</span>
        </li>
       


    </ul>


</section>




<section class="kform">
    <ul class="list_type">
        <li class=""> <section class="inputsec">
        <label>Force Clouser</label>
        <mat-form-field appearance="outline">
          <mat-select name="Preclosure" [(ngModel)]="HHLiability.Preclosure">
              <mat-option>
                  Select
                </mat-option>
              <mat-option  [value]="'option1'">
                  option1
                </mat-option>
                <mat-option  [value]="'option2'">
                    option2
                </mat-option>
          </mat-select>
        </mat-form-field>
       </section>
      
    </li>

    <li class=""> <section class="inputsec">
        <label>Account Status</label>
        <mat-form-field appearance="outline">
          <mat-select [(ngModel)]="HHLiability.AccountStatus">
              <mat-option>
                  Select
                </mat-option>
              <mat-option  [value]="'option1'">
                  option1
                </mat-option>
                <mat-option  [value]="'option2'">
                    option2
                </mat-option>
          </mat-select>
        </mat-form-field>
       </section>
      
    </li>
    <li class=""> <section class="inputsec">
        <label>Balance Transfer</label>
        <mat-form-field appearance="outline">
          <mat-select [(ngModel)]="HHLiability.BlanceTransfer">
              <mat-option>
                  Select
                </mat-option>
              <mat-option  [value]="'option1'">
                  option1
                </mat-option>
                <mat-option  [value]="'option2'">
                    option2
                </mat-option>
          </mat-select>
        </mat-form-field>
       </section>
      
    </li>
</ul>

</section>
</div>

<!-- <h3 class="box-title">Member Two</h3> -->
<!-- <section class="detailsbox whiteclr detailsboxnew">
   
    <ul class="detailsUL detailsULNew">
        <li><label>Member Name</label>
            <span>{{HHLiability['MemberName'] }}</span>
           
        </li>
        <li><label>Institution Type</label>
           
            <span>{{HHLiability['InstitutionType'] }}</span>
        </li>
        <li><label>Institution Name</label>
          
            <span>{{HHLiability['InstitutionName'] }}</span>
        </li>
        <li><label>Loan Account No</label>
            <span>{{HHLiability['LoanAccountNo'] }}</span>
           
        </li>

        <li><label>Outstanding Bal</label>
          
            <span>{{HHLiability['OutstandingBalance'] }}</span>
        </li>
        <li><label>EMI</label>
         
            <span>{{HHLiability['EMI'] }}</span>
        </li>
       


    </ul>


</section> -->




<!-- <section class="kform">
    <ul class="list_type">
        <li class=""> <section class="inputsec">
        <label>Force Clouser</label>
        <mat-form-field appearance="outline">
          <mat-select>
              <mat-option>
                  Select
                </mat-option>
              <mat-option  [value]="'option1'">
                  option1
                </mat-option>
                <mat-option  [value]="'option2'">
                    option2
                </mat-option>
          </mat-select>
        </mat-form-field>
       </section>
      
    </li>

    <li class=""> <section class="inputsec">
        <label>Account Status</label>
        <mat-form-field appearance="outline">
          <mat-select>
              <mat-option>
                  Select
                </mat-option>
              <mat-option  [value]="'option1'">
                  option1
                </mat-option>
                <mat-option  [value]="'option2'">
                    option2
                </mat-option>
          </mat-select>
        </mat-form-field>
       </section>
      
    </li>
    <li class=""> <section class="inputsec">
        <label>Balance Transfer</label>
        <mat-form-field appearance="outline">
          <mat-select>
              <mat-option>
                  Select
                </mat-option>
              <mat-option  [value]="'option1'">
                  option1
                </mat-option>
                <mat-option  [value]="'option2'">
                    option2
                </mat-option>
          </mat-select>
        </mat-form-field>
       </section>
      
    </li>
</ul>

</section> -->


<!-- 
<section class="detailsbox  detailsboxnew-bg">
   
    <ul class="detailsUL detailsULNew">
        <li><label>Total Household Liability</label>
           
            <span>{{HHLiability['TotalHouseholdLiability'] }}</span>

        </li>
        <li><label>Own Liability</label>
           
            <span>{{HHLiability['OwnLiability'] }}</span>
        </li>
        <li><label>Other Household Liability</label>
           
            <span>{{HHLiability['OtherHouseholdLiability'] }}</span>
        </li></ul>
</section> -->


<section class="btnswrapper"><button mat-stroked-button class="btns addBtns" (click)="openAddMember()" >Add</button>
    <button mat-raised-button class="btns" color="primary" (click)="addliablityDetails()">Save & Next</button>
</section>


<!-- </form> -->
<ng-template #addmember>
    <!-- <form [formGroup]="form"  (ngSubmit)="addliablityDetails(form)"> -->
   
    <div mat-dialog-content>
     
     <div>
    <ul class="list_type fulllist">
   
        <li class="">
            <section class="inputsec">
                <label>Member Name</label>
                <mat-form-field  appearance="outline">
                    <input   [(ngModel)]="obj.MemberName" required matInput placeholder="Member Name">
                   
                    </mat-form-field> 
            </section>
        </li>
    
    
    
        <li class="">
            <section class="inputsec">
                <label>Institution Type</label>
                <mat-form-field  appearance="outline">
                    <input [(ngModel)]="obj.InstitutionType" required matInput placeholder="Institution Type">
                    
                    </mat-form-field> 
            </section>
        </li>
    
      
        <li class="">
            <section class="inputsec">
                <label>Institution Name</label>
                <mat-form-field  appearance="outline">
                    <input [(ngModel)]="obj.InstitutionName" required matInput placeholder="Institution Name">
                    
                    </mat-form-field> 
            </section>
        </li>
        <li class="">
            <section class="inputsec">
                <label>LoanAccount NO</label>
                <mat-form-field  appearance="outline">
                    <input [(ngModel)]="obj.LoanAccountNo" matInput placeholder="LoanAccount NO">
                    
                    </mat-form-field> 
            </section>
        </li>
        <li class="">
            <section class="inputsec">
                <label>Outstanding Balance</label>
                <mat-form-field  appearance="outline">
                    <input [(ngModel)]="obj.OutstandingBalance"  matInput placeholder="Outstanding Balance">
                    
                    </mat-form-field> 
            </section>
        </li>
        <li class="">
            <section class="inputsec">
                <label>EMI</label>
                <mat-form-field  appearance="outline">
                    <input [(ngModel)]="obj.EMI"  matInput placeholder="EMI">
                    
                    </mat-form-field> 
            </section>
        </li>
        <li class="">
            <section class="inputsec">
                <label>Preclosure</label>
                <mat-form-field  appearance="outline">
                    <input [(ngModel)]="obj.Preclosure"  matInput placeholder="Preclosure">
                    
                    </mat-form-field> 
            </section>
        </li>
        <li class="">
            <section class="inputsec">
                <label>Account Status</label>
                <mat-form-field  appearance="outline">
                    <input [(ngModel)]="obj.AccountStatus"  matInput placeholder="Account Status">
                    
                    </mat-form-field> 
            </section>
        </li>
       
    </ul>
    
     </div>
     
    </div>
   
    
     
        <div mat-dialog-actions align="center">
            <button [disabled]="!form.valid" type="submit" mat-raised-button class="fill_btn" colo="primary"
            (click)="addmember1()">ADD</button>
        <a mat-button class="close" (click)="onNoClick('No')">Close </a>
       
       
      </div>
    <!-- </form> -->


  </ng-template>  