
<section class="boxsection">
    <h2 class="bgtitle">Member details</h2>

    
      <!-- <section class="inbox">
      </section> -->
        </section>






<ul class="list_type">
    <li>
   <section class="inputsec">
            <label>Family Type</label>
            <mat-form-field appearance="outline">
                <mat-select formControlName="FamilyType" >
                    <mat-option>
                        Select
                    </mat-option>
                    <!-- <mat-option  [value]="f.ID" *ngFor="let f of FamilyTypeDetails"> -->
                        <!-- <mat-option  [value]="f.Name" *ngFor="let f of FamilyTypeDetails"> -->
                            <mat-option>
                    
                        <!-- {{f.Name}} -->
                    </mat-option>
                  
                </mat-select>
            </mat-form-field>
        </section>
      
    </li>
    <li class="">
        <section class="inputsec">
            <label>Type Of Roof</label>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
            </mat-form-field>
        </section>
    </li>
</ul>

<ul class="list_type">
    <li>
   <section class="inputsec">
            <label>Type Of OwnerShip</label>
            <mat-form-field appearance="outline">
                <mat-select formControlName="FamilyType" >
                    <mat-option>
                        Select
                    </mat-option>
                    <!-- <mat-option  [value]="f.ID" *ngFor="let f of FamilyTypeDetails"> -->
                        <!-- <mat-option  [value]="f.Name" *ngFor="let f of FamilyTypeDetails"> -->
                            <mat-option>
                    
                        <!-- {{f.Name}} -->
                    </mat-option>
                  
                </mat-select>
            </mat-form-field>
        </section>
      
    </li>
    <li class="">
        <section class="inputsec">
            <label>Non-Earning members</label>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
            </mat-form-field>
        </section>
    </li>
</ul>


<ul class="list_type">
    <li>
   <section class="inputsec">
            <label>No Of Non Earning Members</label>
            <mat-form-field appearance="outline">
                <mat-select formControlName="FamilyType" >
                    <mat-option>
                        Select
                    </mat-option>
                    <!-- <mat-option  [value]="f.ID" *ngFor="let f of FamilyTypeDetails"> -->
                        <!-- <mat-option  [value]="f.Name" *ngFor="let f of FamilyTypeDetails"> -->
                            <mat-option>
                    
                        <!-- {{f.Name}} -->
                    </mat-option>
                  
                </mat-select>
            </mat-form-field>
        </section>
      
    </li>
    <li class="">
        <section class="inputsec">
            <label>No Of Unmarried Childrens</label>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
            </mat-form-field>
        </section>
    </li>
</ul>



<ul class="list_type">
    <li>
   <section class="inputsec">
            <label>Total HouseHold Family Members</label>
            <mat-form-field appearance="outline">
                <mat-select formControlName="FamilyType" >
                    <mat-option>
                        Select
                    </mat-option>
                    <!-- <mat-option  [value]="f.ID" *ngFor="let f of FamilyTypeDetails"> -->
                        <!-- <mat-option  [value]="f.Name" *ngFor="let f of FamilyTypeDetails"> -->
                            <mat-option>
                    
                        <!-- {{f.Name}} -->
                    </mat-option>
                  
                </mat-select>
            </mat-form-field>
        </section>
      
    </li>
    <li class="">
        <section class="inputsec">
            <label>No Of Dependents</label>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
            </mat-form-field>
        </section>
    </li>
</ul>


<ul class="list_type">
    <li>
   <section class="inputsec">
            <label>Loacality</label>
            <mat-form-field appearance="outline">
                <mat-select formControlName="FamilyType" >
                    <mat-option>
                        Select
                    </mat-option>
                    <!-- <mat-option  [value]="f.ID" *ngFor="let f of FamilyTypeDetails"> -->
                        <!-- <mat-option  [value]="f.Name" *ngFor="let f of FamilyTypeDetails"> -->
                            <mat-option>
                    
                        <!-- {{f.Name}} -->
                    </mat-option>
                  
                </mat-select>
            </mat-form-field>
        </section>
      
    </li>
    <li class="">
        <section class="inputsec">
            <label>Religion/Community</label>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
            </mat-form-field>
        </section>
    </li>
</ul>


<ul class="list_type">
    <li>
   <section class="inputsec">
            <label>Caste/Category</label>
            <mat-form-field appearance="outline">
                <mat-select formControlName="FamilyType" >
                    <mat-option>
                        Select
                    </mat-option>
                    <!-- <mat-option  [value]="f.ID" *ngFor="let f of FamilyTypeDetails"> -->
                        <!-- <mat-option  [value]="f.Name" *ngFor="let f of FamilyTypeDetails"> -->
                            <mat-option>
                    
                        <!-- {{f.Name}} -->
                    </mat-option>
                  
                </mat-select>
            </mat-form-field>
        </section>
      
    </li>
</ul>