<section class="pagebreadcrumb">
    <section class="contentwrap">
        <h3>Home > New Application</h3>
    </section>

</section>
<section class="contentwrap contentwrapsmall">
    <section class="data-content whiteclr">
        <ul class="tab_container">
            <li [ngClass]="{'current': mainbasicDetails, 'filled': (memberDetails || householdDetails) }"
                (click)="clickDetails('a')">Basic details (Borrower)</li>
            <li [ngClass]="{'current': memberDetails, 'filled': ( householdDetails)}" class=""
                (click)="clickDetails('b')">Earning member details</li>
            <li [ngClass]="{'current': householdDetails}" class="" (click)="clickDetails('c')">Household Details</li>
        </ul>

        <ng-container *ngIf="mainbasicDetails">
            <ng-container *ngIf="basicDetails">
                <section id="basicDetails" class="incontent">

                    <section class="detailsbox whiteclr marT20 shadowbox">

                        <ul class="profileflex">
                            <li class="imglabel"> <img src="../../../../assets/images/img1.jpg" style="width:34px" />
                                <div><label>Spouse</label>
                                    <span>{{response.Spouse}}</span>
                                </div>
                            </li>
                            <li><a class="textfilledbutton">Add Earning number</a></li>
                        </ul>




                        <ul class="detailsUL detailsULNew">
                            <li><label>Spouse</label>
                                <span>{{response.Spouse}}</span>
                                <!-- <span>{{}}</span> -->
                         
                            </li>
                            <li><label>Father</label>
                                <span> {{response.Father}}</span>
                               
                            </li>
                            <li><label>Mobile Number</label>
                                <span>{{response.MoblieNumber}}</span>
                                
                            </li>
                            <li><label>POI KYC Type</label>
                                <span>  {{response.POIKYCTYPE}}</span>
                              
                            </li>

                            <li><label>POI KYC ID</label>
                                <span>{{response.POIKYCID}}</span>
                                
                            </li>
                            <li><label>KYC Images</label>
                                <span>Hide Images</span>
                            </li>
                            <li><label>Earning Members</label>
                                <span> {{response.EarningMember}}</span>
                               
                            </li>



                        </ul>


                    </section>


                    <section class="">
                        <h3 class="sub_title">Images Data</h3>
                        <h4 class="sub_text">Click on the thumbnail for full image preview </h4>
                        <ul class="imagesgrid m-auto">
                            <li><a (click)="enlarge()"><img [src]="imageresponse.MemberPhoto"  /></a></li>
                        <li><a (click)="enlarge()"><img [src]="imageresponse.voterid_Frontpath"  /></a></li>
                        <li><a (click)="enlarge()"><img  [src]="imageresponse.voterid_Backpath" /></a></li>
                            <!-- <li><a (click)="enlarge()"><img src="../../../../assets/images/img4.png" /></a></li> -->
                        </ul>
                    </section>



                    <form [formGroup]="form">
                        <section class="kform">


                            <ul class="list_type">
                                <li>
                                    <section class="inputsec">
                                        <label>PAN ID</label>
                                        <mat-form-field appearance="outline">
                                            <input formControlName="pan" required matInput placeholder="PAN ID">
                                        </mat-form-field>
                                    </section>
                                </li>
                                <li class="">
                                    <section class="inputsec">
                                        <label>Loan Purpose</label>
                                        <mat-form-field appearance="outline">
                                            <mat-select>
                                                <mat-option>
                                                    Select
                                                </mat-option>
                                                <mat-option  [value]="r.ID" *ngFor="let r of LoanPurposeInfo">
                                              
                                           
                                                   {{r.Name}}
                                               </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </section>

                                </li>

                            </ul>

                            <ul class="list_type">

                                <li>
                                    <section class="inputsec">
                                        <label>Applied Amount</label>
                                        <mat-form-field appearance="outline">
                                            <input formControlName="amount" required matInput placeholder="Amount">
                                        </mat-form-field>
                                    </section>
                                </li>
                                <li></li>
                            </ul>


                        </section>

                        <section class="btnswrapper"><button mat-raised-button class="fill_btn" colo="primary"
                                (click)="basicDetailsbrrower()">Next</button>

                        </section>
                    </form>

                </section>
            </ng-container>

            <ng-container *ngIf="!basicDetails">

                <section class="incontent">


                    <section class="formsection detailsbox">

                        <section class="bgTitle">Center Address</section>
                        <form [formGroup]="form1">
                            <ul class="formblock">
                                <li>
                                    <section class="inputsecIn">
                                        <label>Pin Code</label>


                                        <mat-form-field appearance="outline" class="searchfield">
                                            <!-- <mat-label>User Name</mat-label> -->
                                            <input formControlName="pincode" required matInput
                                                placeholder="Enter Pin Code">
                                            <i class="searchicon" (click)="searchcode()"></i>
                                        </mat-form-field>

                                    </section>
                                </li>
                                <li>
                                    <section class="inputsecIn">
                                        <label>Village</label>
                                        <mat-form-field class="searchfield" appearance="outline">


                                            <mat-select formControlName="village">

                                                <mat-option *ngFor="let v of MasterPinCodeDetails"
                                                    [value]="v.VillageName">
                                                    {{ v.VillageName }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </section>
                                </li>

                                <li>
                                    <section class="inputsecIn">
                                        <label>Center</label>
                                        <mat-form-field class="searchfield" appearance="outline">
                                            <!-- <mat-label>User Name</mat-label> -->
                                            <input formControlName="center" required matInput placeholder="Search">
                                            <i class="searchicon"></i>

                                        </mat-form-field>


                                    </section>

                                </li>
                                <li>
                                    <section class="inputsecIn padT40"> <span class="bgcenter">Availability at Darkarng
                                            C1: 2/15</span>

                                    </section>
                                </li>

                            </ul>

                            <section class="btnswrapper">
                                <button mat-raised-button (click)="addnewcenter()" class="stroke_btn" colo="primary">Add
                                    New Center</button>

                                <button mat-raised-button class="fill_btn" colo="primary"
                                    (click)="centerdatasubmit()">Submit</button>

                            </section>
                        </form>

                    </section>


                </section>

            </ng-container>

        </ng-container>

        <ng-container *ngIf="memberDetails">
            <app-memberdetails></app-memberdetails>
        </ng-container>


        <ng-container *ngIf="householdDetails">
         
            <app-householddetails></app-householddetails>
        </ng-container>

    </section>

</section>


<ng-template #reasondialog>
    <form [formGroup]="form2">
        <div mat-dialog-content>

            <section class="modelimg"> <img src="../../../../assets/images/newcenter.png" /></section>

            <section class="label-center"> Add New Center</section>
            <section class="inputsec">
                <label>Center Meeting Day</label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="day">
                        <mat-option>
                            Select
                        </mat-option>
                        <mat-option [value]="'Monday'">
                            Monday
                        </mat-option>
                        <mat-option [value]="'Thuesday'">
                            Thuesday
                        </mat-option>
                        <mat-option [value]="'Wednesday'">
                            Wednesday
                        </mat-option>
                        <mat-option [value]="'Thursday'">
                            Thursday
                        </mat-option>
                        <mat-option [value]="'Friday'">
                            Friday
                        </mat-option>
                        <mat-option [value]="'Saturday'">
                            Saturday
                        </mat-option>
                        <mat-option [value]="'Sunday'">
                            Sunday
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </section>


            <section class="inputsec">
                <label>Center Meeting Week</label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="week">
                        <mat-option>
                            Select
                        </mat-option>
                        <mat-option [value]="'1'">
                            1
                        </mat-option>
                        <mat-option [value]="'2'">
                            2
                        </mat-option>
                        <mat-option [value]="'3'">
                            3
                        </mat-option>
                        <mat-option [value]="'4'">
                            4
                        </mat-option>
                        <mat-option [value]="'5'">
                            5
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </section>
        </div>
        <div mat-dialog-actions class="center">
            <button mat-raised-button class="filledBtn" (click)="addnewcenterfn()">Add</button>
            <button mat-stroked-button class="strokedBtn" (click)="cancelNewCenter()">Cancel</button>
        </div>
    </form>
</ng-template>



<ng-template #enlargedialog>


    <div mat-dialog-content>
        <img [src]="MemberPhoto" style="width:500px" style="width:500px"/>
        <img [src]="voterid_Frontpath" style="width:500px" style="width:500px" />
        <img [src]="voterid_Backpath" style="width:500px" style="width:500px" />
    </div>
    <div mat-dialog-actions class="center">

        <button mat-stroked-button class="strokedBtn" (click)="close()">Close</button>
    </div>
</ng-template>