.detailsbox{     box-shadow: 1px 1px 6px 4px #e8e8e8;}
.box-title{ border-radius: 10px 10px 0px 0px;
    background: #DBDEE3; padding: 10px; margin: 0;}
    .detailsboxnew{ border-radius: 0 0 10px;}

    .detailsboxnew-bg{ background: #F1F1F1;}

    
    .detailsUL li label{ width: 100%;}
    .list_type{ flex-wrap: wrap;}
    .list_type li{ flex: 0 0 50%; padding-right: 10px !important; padding-left: 0 !important;}
   