<section class="pagebreadcrumb">
    <section class="contentwrap">
<h3>Home > New Application > Search Client > Client Details</h3>
</section>

</section>
<section class="contentwrap contentwrapsmall">
<section class="data-content">
    


<section class="">
    
  
  <section class="detailsbox whiteclr">
<ul class="detailsUL">
    <li><label>Applicant Name</label>
<span>Jai Prakash</span>
</li>
<li><label>Date</label>
    <span>01 jan 2022</span>
    </li>
    <li><label>Voter Id</label>
        <span>4567899</span>
        </li>
        

</ul>
<section class="text-right">
    <a class="textBtn viewicbtn" (click)="gotofeeDetails()">View Details</a>
</section>
</section>



<section class="detailsbox whiteclr">
    <ul class="detailsUL">
        <li><label>Applicant Name</label>
    <span>Jai Prakash</span>
    </li>
    <li><label>Date</label>
        <span>01 jan 2022</span>
        </li>
        <li><label>Voter Id</label>
            <span>4567899</span>
            </li>
            
    
    </ul>
    <section class="text-right">
        <a class="textBtn viewicbtn" (click)="gotofeeDetails()">View Details</a>
    </section>
    </section>
    
  <section class="detailsbox whiteclr">
    <ul class="detailsUL">
        <li><label>Applicant Name</label>
    <span>Jai Prakash</span>
    </li>
    <li><label>Date</label>
        <span>01 jan 2022</span>
        </li>
        <li><label>Voter Id</label>
            <span>4567899</span>
            </li>
            
    
    </ul>
    <section class="text-right">
    <a class="textBtn viewicbtn" (click)="gotofeeDetails()">View Details</a>
    </section>
    </section>
</section>



<!-- <button class="searchBtn wid100p"  mat-raised-button color="primary" (click)="newformUrl()" >Proceed</button> -->
</section>

</section>