<p>forgot-password works!</p>
<section class="sign-container">

    <section class="sign-wrapper">
    
      <section class="sign-left-wrapper">
      <section class="sign-left-img">
        <img src="./../../../assets/images/loginbanner.png" />
      </section>
      
      </section>
      
      <section class="sign-right-wrapper">
      <img src="./../../../assets/images/logo.svg" />
      <h2 class="sign-title">Forgot Password</h2>
     <section class="inputsec">
      <label>User Name</label>
      <mat-form-field appearance="outline">
        <!-- <mat-label>User Name</mat-label> -->
        <input matInput placeholder="Enter User Name" [(ngModel)]="ForgotDetails.UserID">
        
        
      </mat-form-field> 
     </section>
     <section class="inputsec">
      <label>Register Mobile Number</label>
      <mat-form-field appearance="outline">
        <!-- <mat-label>Password</mat-label> -->
        <input matInput placeholder="Enter No" [(ngModel)]="ForgotDetails.MoblieNumber" [maxlength]="10"  (keypress)="chcekValue($event)">
        <!-- <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button> -->
        
      </mat-form-field> 
        </section>
  
  
        <section class="text-right"  *ngIf="!otp"><a class="link_btn" (click)="sucessOTP()" mat-button>Send OTP</a></section>
        <ng-container *ngIf="resendCooldown > 0">
          <p class="note">Resend OTP in {{ resendCooldown }} seconds</p>
        </ng-container>

        <ng-container *ngIf="otp">
       <section  class="text-right"><a class="link_btn" mat-button (click)="resendotp()">Resend OTP</a>
       <!-- <span class="attempts" >(3 Attempts Left)</span> -->

       <span class="attempts" *ngIf="remainingAttempts > 0" class="note">({{ remainingAttempts }} attempts left)</span>
       </section>  
       
       
       
       <section class="inputsec">
           <label>OTP</label>
           <mat-form-field appearance="outline">
             <input  required matInput placeholder="Enter OTP" [(ngModel)]="ForgotDetails.OTP"  (input)="checkOtpLength()"  (keypress)="chcekValue($event)">
          
           </mat-form-field> 
           <span class="smalltxt">(Please enter verification code sent on your number)</span>
             </section>
           </ng-container> 
       
       
  <!-- <ng-container *ngIf="otp"> -->
    <ng-container *ngIf="otp">
      <button class="loginBtn"  mat-raised-button color="primary" [disabled]="!isLastDigitEntered" (click)="simpleAlert()">Verify & Next</button>
  
    
    </ng-container>
    <button class="loginBtn"  mat-stroked-button color="primary" (click)="login()">Back to Login</button>
    </section>
      
      
      </section>
  </section>