<section class="sign-container search-container">

    <section class="sign-wrapper">
    <section class="sign-right-wrapper">
    <section class="center">  <img src="./../../../../assets/images/search-user.png" /></section>
      <h2 class="sign-title">Search Client</h2>
      <form [formGroup]="form" (ngSubmit)="submit(form)">
     <section class="inputsec">
      <label>Choose Search type</label>
      <mat-form-field appearance="outline">
        <mat-select formControlName="type">
            <mat-option>
                Select
              </mat-option>
            <mat-option  [value]="'BrroweId'">
                Borrower Id
              </mat-option>
              <mat-option  [value]="'VoterId'">
                Voter Id
              </mat-option>
        </mat-select>
      </mat-form-field>
     </section>
     <section class="inputsec">
      <label>Enter Details</label>
      <mat-form-field appearance="outline">
        <input  formControlName="details" required matInput placeholder="Enter Details">
      </mat-form-field> 
        </section>
  

      

      <button class="search wid100p" [disabled]="!form.valid"  type="submit"  mat-raised-button color="primary"  >Search</button>
    </form> 
    </section>
      </section>
  </section>