
.list_type{ display: flex; padding-bottom: 10px;
    & li{ flex: 50%; padding-right: 10px;
    &:last-child{ padding-left: 10px; padding-right: 0;}

    & label{ color: #000;
        font-family: 'Noto Sans', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal; margin-bottom: 10px  ;}
    }

}
.kform{ padding-top: 20px;}
.inputsec{ width: 100%; display: flex; flex-direction: column;}


  .addressBox{ border-radius: 10px;
    background: #F2F2F2; padding: 20px; margin-bottom: 20px;
& label{ color: #808080;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;}
& span{ display: block; color: #222;
    font-family: Noto Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 100% */
    letter-spacing: 0.2px;}

}

.sub_title{ color: #442477;
    font-family: Noto Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700; margin: 0; padding: 0;
    line-height: normal; text-align: center;}
    .sub_text{ color: #442477;
        text-align: center;
        font-family: Noto Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal; margin: 0; padding: 0;}
.imagesgrid{ display: flex; flex-wrap: wrap;     justify-content: center;
    margin-top: 20px;
    a{ height: 80px; margin-right: 10px; border-radius: 10px;}
& img{ height: 80px; width: auto; border-radius: 10px;}
}

.btnswrapper{ text-align: center; margin-top: 20px; & button { min-width: 200px; margin: 0 10px;}}

.tab_container{ display: flex; }
.tab_container { margin-bottom: 20px; padding-right: 20px;
& li{ border-radius: 0; width: 33.3%;
    background: #DBDEE3;
    padding: 10px 10px 10px 40px; position: relative;
    &:first-child{ border-radius: 10px 0 0 10px;}

&:after{ content: "";
    width: 0;
    height: 0;
    border-width: 20px 0 20px 16px;
    border-color: transparent transparent transparent #DBDEE3;
    border-style: solid;
    position: absolute;
    top: 0; right:-15px;
    z-index: 9;}
    
&:before{ content: "";
    width: 0;
    height: 0;
    border-width: 20px 0 20px 16px;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    position: absolute;
    top: 0;    right: -18px;
    z-index: 9;}
}

& li.filled{background: #442477; color: #fff;
&:after{border-color: transparent transparent transparent #442477; }
}

}