<section class="pagebreadcrumb">
    <section class="contentwrap">
        <h3>Home > Help > Video</h3>
    </section>

</section>
<section class="contentwrap contentwrapsmall">
    <section class="data-content whiteclr">

        <ul class="list_type">
            <li>
                <section class="inputsec">
                    <label>Search Video</label>
                    <mat-form-field appearance="outline">
                        <input required matInput placeholder="Enter Keyword">
                    </mat-form-field>
                </section>
            </li>
        </ul>


        <section class="videoTitle">


            <h2>All Videos</h2>
            <ul class="lists">
                <li class="" [ngClass]="{'active': videotypeList}" (click)="videostyle( 'list')">
                    <mat-icon>list</mat-icon></li>
                <li [ngClass]="{'active': !videotypeList}" (click)="videostyle( 'grid')"><mat-icon>view_comfy</mat-icon>
                </li>
            </ul>
        </section>


        <section class="videosec " [ngClass]="{'video_list': videotypeList, 'video_grid': !videotypeList}">
          
            <div class="videoswrap" *ngFor="let videos of VideoData">
                <section class="img_wrapper"><img src={{videos.IMAGE}} /></section>
                <section class="img_content">
                    <h2>{{videos.TITLE}}</h2>
                    <p>{{videos.Description}}</p>
                    <button mat-raised-button class="playBtn" (click)="enlarge(videos.Youtubelink)">Play Video <em
                            class="icon_play"></em></button>
                </section>

            </div>
          

        </section>

    </section>
</section>




<ng-template #enlargedialog>


    <div mat-dialog-content>
<section [innerHTML]="htmlobj"></section>

        <!-- <iframe width="100%" height="315" [src]="youtubeLink" 
            title="" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe> -->
    </div>
    <div mat-dialog-actions class="center">

        <button mat-stroked-button class="strokedBtn" (click)="close()">Close</button>
    </div>
</ng-template>