<p>bmbankdetails works!</p>

<section class="detailsbox whiteclr marT20">

    <ul class="list_type">
        <form [formGroup]="form">
            <li>
                <section class="inputsec">
                    <label>Enter Code</label>
                    <mat-form-field appearance="outline">
                        <input required matInput placeholder="Enter IFSC Code" formControlName="IFSCCode">
                    </mat-form-field>
                </section>
                {{obj.IFSCCode}}
            </li>
            <li>
            <a mat-raised-button class="otplink filledbtn" (click)="validateForm(form)">Validate</a>
            </li>
      
            <li>
                <section class="inputsec">
                    <label>Branch Address</label>
                    <!-- <span>{{searchbankDetails['Address'] }}</span> -->
                    <span>{{ searchbankDetails?.Address }}</span>
                </section>
            </li>
        </form>
        <form [formGroup]="isform">

  <li>  <section class="inputsec">
        <label>Account Holder Type</label>
        <mat-form-field appearance="outline">
            <mat-select formControlName="AccountHolderType">
                <mat-option>
                    Select
                </mat-option>
                <mat-option [value]="'option1'">
                    option1
                </mat-option>
                <mat-option [value]="'option2'">
                    option2
                </mat-option>
            </mat-select>
        </mat-form-field>
    </section>
    </li>
    <li>
        <section class="inputsec">
            <label>Account Holder Name</label>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="" value="" formControlName="AccountHolderName">
            </mat-form-field>
        </section>
    </li>
    <li>  <section class="inputsec">
        <label>Account Type</label>
        <mat-form-field appearance="outline">
            <mat-select formControlName="AccountType">
                <mat-option>
                    Select
                </mat-option>
                <mat-option [value]="'option1'">
                    option1
                </mat-option>
                <mat-option [value]="'option2'">
                    option2
                </mat-option>
            </mat-select>
        </mat-form-field>
    </section>
    </li>

    <li>
        <section class="inputsec">
            <label>Account No</label>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="" value="" formControlName="AccountNo">
            </mat-form-field>
        </section>
        </li>

        <li>  <section class="inputsec">
            <label>Digital Payment</label>
            <mat-form-field appearance="outline">
                <mat-select formControlName="DigitalPayment">
                    <mat-option>
                        Select
                    </mat-option>
                    <mat-option [value]="'option1'">
                        option1
                    </mat-option>
                    <mat-option [value]="'option2'">
                        option2
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>
        </li>

        <li>
            <section class="inputsec">
                <label>UPI ID</label>
                
                <mat-form-field appearance="outline">
                    <input required matInput  value="0" formControlName="UPIID">
                </mat-form-field>
            </section>
            </li>
    <li></li>
    </form>
      </ul>
    
      <ul class="list_type">
    
            <li>
                <section class="inputsec">
                    <label>Bank Passbook</label>
                <section class="imgwrapper">
                    <!-- <img src="../../../../assets/images/passbook.png" />   -->
                    <input type="file" #fileInput style="display: none" (click)="fileInput.click()" (change)="selectFile($event)" accept="image/*" />
                    <img src="../../../assets/capture.png" class="my-dp dp rounded-circle" *ngIf="!url" />
				<img [src]="url  || previewimage" *ngIf="url">
                </section>
                <div class="d-flex align-items-center mt-10">
                    <button mat-button class="mat-button-primary btn-sm me-2 w-100" (click)=" camera()"  [style.background-color]="'#4205b9'" [style.color]="'white'" >
                      <span class="me-2"><i class="bi bi-camera-fill"></i></span>Open Camera
                    </button>
                    
                    <button mat-button class="mat-button-primary btn-sm w-100" (click)="fileInput.click()" [style.background-color]="'#4205b9'" [style.color]="'white'" style="margin-left: 10px;"*ngIf="!imageupload">
                      <span class="me-2"><i class="bi bi-upload"></i>
                      </span>Upload Photo
                    </button>
             
                  </div>
                  <div  *ngIf="stream ">
                    <webcam [trigger]="$trigger" (imageCapture)="snap($event)" [imageQuality]="1"></webcam> 
                <button mat-button class="mat-button-primary btn-sm w-100" (click)="captueimage()">{{btnLabel}} </button>
                </div>
                <ng-template #statusPopup>
                    <div mat-dialog-content>
                        <p>{{status}} </p>
                    </div>
                    <div mat-dialog-actions align="center">
                        <button mat-button (click)="closecameraerror()">OK</button>
                    </div>
                </ng-template>
                
                
                 
                </section>
                </li>

     


    
    </ul>  
    </section>
    
                 
    <section class="btnscontainer marT30">
       <section> <button class="strokebtn"  mat-raised-button (click)="bankcheck()"  >Bank Check</button></section>
        <section><button class="filledbtn"  mat-raised-button  (click)="Save(isform)">Save</button></section>
    </section>
    
   <ng-container *ngIf="bankstatus">
    <h2 class="subtitle">Bank Status</h2>
    <ul class="list_type bglisttype">
    <li>
        <section class="inputsec">
            <label>Account Validation Status</label>
            <section>Success</section>
            
        </section>
        </li>
        <li>
            <section class="inputsec">
                <label>Beneficiary Name</label>
                <section>Ramesh</section>
                
            </section>
            </li>
            <li>
                <section class="inputsec">
                    <label>Match Status</label>
                    <section>90%</section>
                    
                </section>
                </li>
<li></li>
  </ul>
  <section class="btnscontainer marT30">
    <section> <button class="strokebtn"  mat-raised-button  >Raise Requestk</button></section>
     <section><button class="filledbtn"  mat-raised-button (click)="gotopage()"  >Next</button></section>
 </section>
</ng-container>
    
    <ng-template #otpdialog>
        <div mat-dialog-content>
    
           <section class="modelimg"> <img src="../../../../assets/images/mobile_ic.png" /></section>
    
            <section class="label-title"> Verify Mobile Number</section>
         
    
            <section class="inputsec">
                <label class="otplabel">OTP</label>
    
    <section class="otpBlock">
        <section><input /></section> <section><input /></section> <section><input /></section> <section><input /></section> <section><input /></section> <section><input /></section>
    </section>
    
                <!-- <mat-form-field appearance="outline">
                    <input required matInput placeholder="Enter " value="">
                </mat-form-field> -->
            </section>
          
          
          
        </div>
        <div mat-dialog-actions  class="center fullbtns">
            <button mat-raised-button class="filledBtn" (click)="submitclose()">Submit</button>
            <button mat-stroked-button class="strokedBtn" (click)="close()">Close</button>
        </div>
    </ng-template>

    