<ul class="list_type">
    <li>
        <section class="inputsec">
            <label>Name</label>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="Name" value="Rajesh">
            </mat-form-field>
        </section>
    </li>
    <li>
        <section class="inputsec">
            <label>Relationship</label>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="relationship" value="Husband">
            </mat-form-field>
        </section>
    </li>
    <li>
<section class="inputsec">
    <label>Type of source</label>
    <mat-form-field appearance="outline">
        <mat-select>
            <mat-option>
                Select
            </mat-option>
            <mat-option [value]="'option1'">
                option1
            </mat-option>
            <mat-option [value]="'option2'">
                option2
            </mat-option>
        </mat-select>
    </mat-form-field>
</section>
</li>

<li>
    <section class="inputsec">
        <label>Avg Daily Transaction</label>
        <mat-form-field appearance="outline">
            <mat-select>
                <mat-option>
                    Select
                </mat-option>
                <mat-option [value]="'option1'">
                    option1
                </mat-option>
                <mat-option [value]="'option2'">
                    option2
                </mat-option>
            </mat-select>
        </mat-form-field>
    </section>
    </li>

    <li>
        <section class="inputsec">
            <label>No of days in a month</label>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="Enter Days">
            </mat-form-field>
        </section>
    </li>
    <li>
        <section class="inputsec">
            <label>Monthly Gross Sale</label>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="" disabled>
            </mat-form-field>
        </section>
    </li>
    <li>
        <section class="inputsec">
            <label>Raw Materials consume(Monthly)</label>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="Enter">
            </mat-form-field>
        </section>
    </li>
    <li>
        <section class="inputsec">
            <label>Rent for Shop(Monthly)</label>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="Enter Days">
            </mat-form-field>
        </section>
    </li>
    <li>
        <section class="inputsec">
            <label>Labour/Wages(Monthly)</label>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="Enter">
            </mat-form-field>
        </section>
    </li>
    <li>
        <section class="inputsec">
            <label>Electricity(Monthly)</label>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="Enter">
            </mat-form-field>
        </section>
    </li>
    <li>
        <section class="inputsec">
            <label>Conveyance-Fuel & Maintenance (Monthly)</label>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="Enter">
            </mat-form-field>
        </section>
    </li>
    <li>
        <section class="inputsec">
            <label>Other Manufacturing (Monthly)</label>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="Enter">
            </mat-form-field>
        </section>
    </li>


    <li>
        <section class="inputsec">
            <label>Admin and Operating Expenses (Monthly)</label>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="Enter">
            </mat-form-field>
        </section>
    </li>
    <li>
        <section class="inputsec">
            <label>Total Business Expenses (Monthly)</label>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="Enter">
            </mat-form-field>
        </section>
    </li>


    <li>
        <section class="inputsec">
            <label>Avg Daily Expenditure</label>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="Enter">
            </mat-form-field>
        </section>
    </li>
    <li>
        <section class="inputsec">
            <label>Avg Net Profit Daily</label>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="Enter">
            </mat-form-field>
        </section>
    </li>
    <li>
        <section class="inputsec">
            <label>Income frequency</label>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="Enter">
            </mat-form-field>
        </section>
    </li>
    <li>
        <section class="inputsec">
            <label>Net Business Income Monthly</label>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="" disabled>
            </mat-form-field>
        </section>
    </li>


    <li>
        <section class="inputsec">
            <label>Income frequency</label>
            <mat-form-field appearance="outline">
                <mat-select>
                    <mat-option>
                        Select
                    </mat-option>
                    <mat-option [value]="'option1'">
                        option1
                    </mat-option>
                    <mat-option [value]="'option2'">
                        option2
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>
        </li>
        <li>
            <section class="inputsec">
                <label>Net Business Income Monthly</label>
                <mat-form-field appearance="outline">
                    <input required matInput placeholder="" disabled>
                </mat-form-field>
            </section>
        </li>
        <li>
            <section class="inputsec">
                <label>Net Business Income Monthly (Margin %)</label>
                <mat-form-field appearance="outline">
                    <input required matInput placeholder="Enter" >
                </mat-form-field>
            </section>
        </li>
        <li>
            <section class="inputsec">
                <label>Annuual Income </label>
                <mat-form-field appearance="outline">
                    <input required matInput placeholder="" disabled>
                </mat-form-field>
            </section>
        </li>

</ul>