<section class="pagebreadcrumb">
    <section class="contentwrap">
<h3>Home > New Application > LUC Check > Client List</h3>
</section>

</section>



<section class="contentwrap contentwrapsmall">
<section class="data-content">
    


<section class="whiteclr">


<section class="searchwrapper">
    <div><section class="centername"> <h2>Voter Id</h2> <em class="uName">v123456</em> </section></div>
<div>
<section><a (click)="gotosearch()"><em class="searchicon"></em>Search</a></section>

</div>
</section>

   
 
  <section class="detailsbox">
<ul class="detailsUL detailsUL3">
  
    <li><label>Application No</label>
        <span>A10234</span>
        </li>
  
    <li><label>Applicant Name</label>
<span>Jai Prakash</span>
</li>
<li><label>Father</label>
    <span>Ravi</span>
    </li>
    <li><label>Primary KYC No</label>
        <span>123452</span>
        </li>
        <li><label>Application Date</label>
            <span>10 Jan 2022</span>
            </li>
            <li><label>Last CB Check date</label>
                <span>10 Jan 2022</span>
                </li>

            <li><label>CB Status</label>
                <span>Active</span>
                </li>
                <li><label>Applied Amount</label>
                    <span>14000</span>
                    </li>
                    <li><label>Stage Status</label>
                        <span>BM Approval Pending</span>
                        </li>
                        <li class="fullflex"><label>Present Addressus</label>
                            <span>Village/Locality - Dakarangia G. Pitown- Greesingia P.S. - G.Udayagiri</span>
                            </li>
               

</ul>

</section>


<a class="textBtn viewicbtn" (click)="cbReport()" >View CB Report</a>

</section>

<div class="btnswarpper">
    
<section><button class="searchBtn storkedBtns"  mat-stroked-button color="primary" (click)="reject()"  >Reject</button></section>
<section><button class="searchBtn filledBtns "  mat-raised-button color="primary"  >Send to CB</button></section>
</div>


<button class="filledBtns wid100p"  mat-raised-button color="primary"  >Proceed</button>
</section>

</section>

<ng-template #cbreortdialog>
    <div mat-dialog-content>

       <section class="modelimg"> <img src="../../../../assets/images/cbreport.png" /></section>

        <!-- <section class="label-center"> Add New Center</section> -->
        <section class="inputsec">
            <label>Please select User to View CB Report</label>
            <mat-form-field appearance="outline">
                <mat-select>
                    <mat-option>
                        Select
                    </mat-option>
                    <mat-option [value]="'option1'">
                        option1
                    </mat-option>
                    <mat-option [value]="'option2'">
                        option2
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>
      
    
    </div>
    <div mat-dialog-actions class="center">
        <button mat-raised-button class="filledBtn" (click)="onNoClick1()">View</button>
        <button mat-stroked-button class="strokedBtn" (click)="onNoClick1()">Cancel</button>
    </div>
</ng-template>