<section class="detailsbox whiteclr marT20">
    <ul class="list_type">
               
        

            <li>
                <section class="inputsec">
                    <label>Enter Code</label>
                    <mat-form-field appearance="outline">
                        <input required matInput placeholder="" value="">
                    </mat-form-field>
                </section>
            </li>
            <li class="insideotp"><a mat-raised-button  class="otplink filledbtn" >Validate</a>
        
                
            </li>
            
            <li>
               
               
               
               
                <section class="inputsec">
                    <label>Branch Address</label>
                    Manik Chhak,at Po Karanjia,dist Mayurbhanj,orissa - 757037
                </section>
            </li>

  <li>  <section class="inputsec">
        <label>Account Holder Type</label>
        <mat-form-field appearance="outline">
            <mat-select>
                <mat-option>
                    Select
                </mat-option>
                <mat-option [value]="'option1'">
                    option1
                </mat-option>
                <mat-option [value]="'option2'">
                    option2
                </mat-option>
            </mat-select>
        </mat-form-field>
    </section>
    </li>
    <li>
        <section class="inputsec">
            <label>Account Holder Name</label>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="" value="">
            </mat-form-field>
        </section>
    </li>
    <li>  <section class="inputsec">
        <label>Account Type</label>
        <mat-form-field appearance="outline">
            <mat-select>
                <mat-option>
                    Select
                </mat-option>
                <mat-option [value]="'option1'">
                    option1
                </mat-option>
                <mat-option [value]="'option2'">
                    option2
                </mat-option>
            </mat-select>
        </mat-form-field>
    </section>
    </li>

    <li>
        <section class="inputsec">
            <label>Account No</label>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="" value="">
            </mat-form-field>
        </section>
        </li>

        <li>  <section class="inputsec">
            <label>Digital Payment</label>
            <mat-form-field appearance="outline">
                <mat-select>
                    <mat-option>
                        Select
                    </mat-option>
                    <mat-option [value]="'option1'">
                        option1
                    </mat-option>
                    <mat-option [value]="'option2'">
                        option2
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>
        </li>

        <li>
            <section class="inputsec">
                <label>UPI ID</label>
                
                <mat-form-field appearance="outline">
                    <input required matInput  value="10000">
                </mat-form-field>
            </section>
            </li>
    <li></li>
      </ul>
    
      <ul class="list_type">
    
            <li>
                <section class="inputsec">
                    <label>Bank Passbook</label>
                <section class="imgwrapper">
                    <img src="../../../../assets/images/passbook.png" />  
                </section>
                 
                </section>
                </li>

     


    
    </ul>  
    </section>
    
                 
    <section class="btnscontainer marT30">
       <section> <button class="strokebtn"  mat-raised-button (click)="bankcheck()"  >Bank Check</button></section>
        <section><button class="filledbtn"  mat-raised-button  >Save</button></section>
    </section>
    
   <ng-container *ngIf="bankstatus">
    <h2 class="subtitle">Bank Status</h2>
    <ul class="list_type bglisttype">
    <li>
        <section class="inputsec">
            <label>Account Validation Status</label>
            <section>Success</section>
            
        </section>
        </li>
        <li>
            <section class="inputsec">
                <label>Beneficiary Name</label>
                <section>Ramesh</section>
                
            </section>
            </li>
            <li>
                <section class="inputsec">
                    <label>Match Status</label>
                    <section>90%</section>
                    
                </section>
                </li>
<li></li>
  </ul>
  <section class="btnscontainer marT30">
    <section> <button class="strokebtn"  mat-raised-button  >Raise Requestk</button></section>
     <section><button class="filledbtn"  mat-raised-button (click)="gotopage()"  >Next</button></section>
 </section>
</ng-container>
    
    <ng-template #otpdialog>
        <div mat-dialog-content>
    
           <section class="modelimg"> <img src="../../../../assets/images/mobile_ic.png" /></section>
    
            <section class="label-title"> Verify Mobile Number</section>
         
    
            <section class="inputsec">
                <label class="otplabel">OTP</label>
    
    <section class="otpBlock">
        <section><input /></section> <section><input /></section> <section><input /></section> <section><input /></section> <section><input /></section> <section><input /></section>
    </section>
    
                <!-- <mat-form-field appearance="outline">
                    <input required matInput placeholder="Enter " value="">
                </mat-form-field> -->
            </section>
          
          
          
        </div>
        <div mat-dialog-actions  class="center fullbtns">
            <button mat-raised-button class="filledBtn" (click)="submitclose()">Submit</button>
            <button mat-stroked-button class="strokedBtn" (click)="close()">Close</button>
        </div>
    </ng-template>
    
    