.sign-wrapper{ display: flex;}
.sign-right-wrapper{ width: 100%;     padding: 60px 50px 60px 50px;}
.inputsec{ width: 100%; display: flex; flex-direction: column;}
label{ color: #000;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; margin-bottom: 10px  ;}
  .flex-list-login{ 
    margin-bottom: 10px;
    display: flex; justify-content: space-between; align-items: center;}
      h2.sign-title{ color: #000;
        font-family: "Noto Sans", sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: normal; margin: 10px 0;
        padding: 0;}
      
        