<h1 mat-dialog-title>Contact Us</h1>
<div mat-dialog-content>

   <ul class="flex-contact">
    <li>
    <a class="contactcard">
        <img src="../../../assets/images/call-ic.png" />
        <span class="smalltxt">Support No</span>
        <span class="mtxt">+91-9663456789</span>
    </a>
   </li>
   <li>
    <a class="contactcard" href="mailto:support@annapurna.com">
        <img src="../../../assets/images/call-ic.png" />
        <span class="smalltxt">Support No</span>
        <span class="mtxt">support@annapurna.com</span>
    </a>
   </li>

</ul>

<section class="contactbtn">
    <button mat-stroked-button mat-dialog-close>Close</button>
</section>
 
</div>
