.sign-wrapper{ display: flex;}
.sign-right-wrapper{ width: 100%;     padding: 60px 50px 60px 50px;}
.inputsec{ width: 100%; display: flex; flex-direction: column;}
label{ color: #000;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; margin-bottom: 10px  ;}
  .flex-list-login{ 
    margin-bottom: 10px;
    display: flex; justify-content: space-between; align-items: center;}
      h2.sign-title{ color: #000;
        font-family: "Noto Sans", sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal; margin: 10px 0;
        padding: 0;}
      
        

        .small-list{ display: flex;
            & li{ flex: 1;}
        & li.small-form{ flex:0 0 100px; padding-right: 10px;}
        }
        .smalltxt{ position: relative; top:-10px; font-size: 12px; color: #000;}
        .attempts{ display: block; text-align: right; font-size: 10px;}

        .headerimg{ max-height: 100px;}
        .mainTitle{ text-align: center; font-size: 30px;}

        .updatetxt{ position: absolute;right: -9px; color: #442477;font-size: 12px;    padding-left: 18px;}
        .checktxt{ position: absolute; left:0; top:11px}
        .inputpad{ padding-left: 27px;}
        .checktxtpadd{ padding-left: 30px !important;}