<p>forgot-password works!</p>
<section class="sign-container">

    <section class="sign-wrapper">
    
      <section class="sign-left-wrapper">
      <section class="sign-left-img">
        <img src="./../../../assets/images/loginbanner.png" />
      </section>
      
      </section>
      
      <section class="sign-right-wrapper">
      <img src="./../../../assets/images/logo.svg" />
      <h2 class="sign-title">Reset Password</h2>
     <section class="inputsec">
      <label>New Password</label>
      <mat-form-field appearance="outline">
        <!-- <mat-label>User Name</mat-label> -->
        <!-- <input matInput placeholder="Enter New Password"> -->

        
        <input  required matInput placeholder="Enter New Password" [type]="isNewPassword ? 'password' : 'text'"  [(ngModel)]="reset.NewPassword"
        (input)="validatePasswordCriteria()" name="New">
        <button mat-icon-button matSuffix (click)="isNewPassword = !isNewPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isNewPassword">
          <mat-icon>{{isNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        
      </mat-form-field> 
     </section>
     <section class="inputsec">
      <label>Confirm Password</label>
      <mat-form-field appearance="outline">
        <input  required matInput placeholder="Enter Confirm Password" [type]="isConfirmPassword ? 'password' : 'text'"[(ngModel)]="reset.ConfirmPassword"
        (input)="checkPasswordMatch()" name="Confirm" >
        <button mat-icon-button matSuffix (click)="isConfirmPassword = !isConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isConfirmPassword">
          <mat-icon>{{isConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field> 
        </section>

        <p
                *ngIf="
                  ConfirmPassword.length >= 4 &&
                  passwordMismatchError
                "
                class="validation-message red-text"
              >
                Passwords do not match.
              </p>
              <p
                *ngIf="NewPassword.length >= 8 && validationMessage"
                class="validation-message red-text"
              >
                {{ validationMessage }}
              </p>
  
  
        <!-- <section class="text-right"  *ngIf="!otp"><a class="link_btn" (click)="sucessOTP()" mat-button>Send OTP</a></section>
        <ng-container *ngIf="otp">
       <section  class="text-right"><a class="link_btn" mat-button (click)="resendotp()">Resend OTP in 120 secounds</a>
       <span class="attempts">(3 Attempts Left)</span>
       </section>  
       
       
       
       <section class="inputsec">
           <label>OTP</label>
           <mat-form-field appearance="outline">
             <input  required matInput placeholder="Enter OTP">
          
           </mat-form-field> 
           <span class="smalltxt">(Please enter verification code sent on your number)</span>
             </section>
           </ng-container>  -->
       
       
  <!-- <ng-container *ngIf="otp">

      <button class="loginBtn"  mat-raised-button color="primary" (click)="simpleAlert()">Verify & Next</button>
  
    
    </ng-container> -->
    <button class="loginBtn"  mat-stroked-button color="primary" (click)="savepassword()">Save Password</button>
    </section>
      
      
      </section>
  </section>