<section class="box-header-dashboard">
    <div> <h2>Insights <em class="refresh"></em></h2></div>
 <div><ul class="tabs-list"><li><a [ngClass]="Type=='MTD' ? 'active':''"  (click)="getDashoardInsights('MTD')">MTD</a></li><li><a [ngClass]="Type=='QTD' ? 'active':''" (click)="getDashoardInsights('QTD')">QTD</a></li><li><a [ngClass]="Type=='YTD' ? 'active':''"  (click)="getDashoardInsights('YTD')">YTD</a></li></ul></div>
 </section>
     
 <section class="flex-list flex-list-inner" *ngIf="dashBoardDetails">
 
     <section class="cardwrap2">
      <section class="card2">
        <h3>No of Applications</h3>
          <p class="count">{{dashBoardDetails.NoofApplications}}</p>
          <p class="amount">Amount: <em>{{dashBoardDetails.Amount_1}}</em></p>
      </section>
 </section>
 <section class="cardwrap2">
      <section class="card2">
         <h3>Applications Sanctioned</h3>
         <p class="count">{{dashBoardDetails.ApplicationsSanctioned}}</p>
         <p class="amount">Amount: <em>{{dashBoardDetails.Amount_2}}</em></p>
       </section>
     </section>
     <section class="cardwrap2">
       <section class="card2">
         <h3>In process Clients</h3>
         <p class="count">{{dashBoardDetails.InprocessClients}}</p>
         <p class="amount">Amount: <em>{{dashBoardDetails.Amount_3}}</em></p>
       </section>
     </section>
     <section class="cardwrap2">
       <section class="card2">
         <h3>Disbursed Applicants</h3>
         <p class="count">{{dashBoardDetails.DisbursedApplicants}}</p>
         <p class="amount">Amount: <em>{{dashBoardDetails.Amount_4}}</em></p>
       </section>
     </section>
     <section class="cardwrap2">
       <section class="card2">
         <h3>Rejected Applications</h3>
         <p class="count">{{dashBoardDetails.RejectedApplications}}</p>
         <p class="amount">Amount: <em>{{dashBoardDetails.Amount_5}}</em></p>
       </section>
     </section>
     <section class="cardwrap2">
       <section class="card2">
         <h3>Active Clients</h3>
         <p class="count">{{dashBoardDetails.ActiveClients}}</p>
         <p class="amount">Amount: <em>{{dashBoardDetails.Amount_6}}</em></p>
       </section>
 
 
     </section>
 
     </section>