<section class="sign-container">

    <section class="sign-wrapper">
    
      <section class="sign-left-wrapper">
      <section class="sign-left-img">
        <img src="./../../../assets/images/loginbanner.png" />
      </section>
      
      </section>
      
      <section class="sign-right-wrapper">
      <img src="./../../../assets/images/logo.svg" />
      <h2 class="sign-title">MPIN</h2>
      
     <section class="inputsec">
      <label>Enter 4 Dights Login MPIN</label>
      <div class="mpin">
      <ng-container>
        <!-- <input
          [(ngModel)]="inputValues[i]"
          (keyup)="onInputKeyUp($event, i)"
          #inputElement
        > -->
        <ng-otp-input (onInputChange)="checkValidOTP($event, 'pin')" [config]="{ length: 4, allowNumbersOnly: true , isPasswordInput:true}" ></ng-otp-input>
      </ng-container>
    
    </div>
     </section>
  
  
  
      <ul class="flex-list-login">
        <li><a class="link"(click)="forgotmpin()">Forgot MPIN</a></li>
      <li><a class="link" (click)="loginwithpassword()">Login Using Password</a></li>
      </ul>
  
  
      <button class="loginBtn"  mat-raised-button color="primary" (click)="logIn()">SUBMIT</button>
    
    
    
    </section>
      
      
      </section>
  </section>