.otp-container {      padding: 20px;
    display: inline-block;
    text-align: center;
    width: 100%;
      input{ width:30px; margin: 0 6px;    
        height: 30px;
        text-align: center;}}
      .otpwrap{ margin: 20px 0; text-align: center;}