<div class="otp-container">
    <input type="text" id="otp-input-0" [ngModel]="otp[0]" (ngModelChange)="onInputChange(0, $event)" autofocus>
    <input type="text" id="otp-input-1" [ngModel]="otp[1]" (ngModelChange)="onInputChange(1, $event)">
    <input type="text" id="otp-input-2" [ngModel]="otp[2]" (ngModelChange)="onInputChange(2, $event)">
    <input type="text" id="otp-input-3" [ngModel]="otp[3]" (ngModelChange)="onInputChange(3, $event)">
    <input type="text" id="otp-input-4" [ngModel]="otp[4]" (ngModelChange)="onInputChange(4, $event)">
    <input type="text" id="otp-input-5" [ngModel]="otp[5]" (ngModelChange)="onInputChange(5, $event)">
  </div>

  <section class="otpwrap"><button class="loginBtn"  mat-raised-button color="primary">SUBMIT</button></section>
  