.bgtitle{ background: #DBDEE3; border-radius: 10px 10px 10px 10px; padding: 5px 10px; margin: 20px 0 0px; font-size: 16px;}

.boxsection{ border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 16px 24px 0px rgba(22, 34, 51, 0.08), 0px 4px 8px -4px rgba(22, 34, 51, 0.08);}
    .inbox{ padding: 10px;}

    .list_type {
        display: flex;
        padding-bottom: 10px;
        padding-top: 20px;
    }