<section class="pagebreadcrumb">
    <section class="contentwrap">
<h3>Home > New Application > Search Client > Client Details</h3>
</section>

</section>
<section class="contentwrap contentwrapsmall">
<section class="data-content">
    


<section class="whiteclr">
    
  
  <section class="detailsbox whiteclr">
<ul class="detailsUL">
    <li><label>Date</label>
<span>01 Jan 2000</span>
</li>
<li><label>Loan Id</label>
    <span>54232</span>
    </li>
    <li><label>Office order Id</label>
        <span>4567899</span>
        </li>
        
        <li><label>Applicant Name</label>
            <span>Ravi</span>
            </li>
            
            <li><label>Group Name</label>
                <span>G Name</span>
                </li>
                

</ul>

<ul class="detailsUL">
    <li class="fulllist"><label>Present Address</label>
<span>Village/Locality - Dakarangia G. Pitown- Greesingia P.S. - G.Udayagiri</span>
</li>
</ul>

</section>



<h3 class="box-title">Product details</h3>
<section class="detailsbox whiteclr detailsboxnew">
   
    <ul class="detailsUL detailsULNew">
        <li><label>Product Name</label>
            <span>Product 1</span>
        </li>
        <li><label>Product code</label>
            <span>1234</span>
        </li>
        <li><label>Product Price</label>
            <span>10,000</span>
        </li>
        <li><label>Downpayment to pay</label>
            <span>1000</span>
        </li>

        <li><label>Outstanding Bal</label>
            <span>23000</span>
        </li>
        <li><label>EMI</label>
            <span>2000</span>
        </li>
       


    </ul>


</section>


<section class="detailsbox whiteclr ">
   
    <ul class="detailsUL detailsULNew">
        <li><label>Total Product Price</label>
            <span>20000</span>
        </li>
        <li><label>Total Downpayment</label>
            <span>1000</span>
        </li>
        <li><label>Sanction Amountce</label>
            <span>10,000</span>
        </li>
        <li><label>Loan Processing fee</label>
            <span>1000</span>
        </li>

        <li><label>GST</label>
            <span>23000</span>
        </li>
        <li><label>Member Insurance</label>
            <span>2000</span>
        </li>
        <li><label>Insurance of client</label>
            <span>2000</span>
        </li>

        
    </ul>


</section>


<section class="headWrap">
    <h2>Total Fee to Collected</h2>
    <div class="pricecount">36,000</div>
</section>

<ul class="list_type">
   
<li> <section class="inputsec">
<label>Downpayment MR No</label>
<mat-form-field appearance="outline">
  <input  required matInput placeholder="Enter No">
</mat-form-field> 
  </section></li>
  
<li> <section class="inputsec">
    <label>Client Insurance MR No</label>
    <mat-form-field appearance="outline">
      <input  required matInput placeholder="Enter No">
    </mat-form-field> 
      </section></li>
      
<li> <section class="inputsec">
    <label>Spouse Insurance MR No</label>
    <mat-form-field appearance="outline">
      <input  required matInput placeholder="Enter No">
    </mat-form-field> 
      </section></li>
</ul>



<section class="headWrap">
    <h2>FCO details</h2>
    
</section>



<section class="detailsbox whiteclr detailsboxnew  ">
   
    <ul class="detailsUL ">
        <li><label>FCO Nameice</label>
            <span>Vivek</span>
        </li>
        <li><label>FCO Employee IDyment</label>
            <span>123421M</span>
        </li>
               
    </ul>


</section>

</section>



<button class="searchBtn wid100p"  mat-raised-button color="primary"  >Confirm  & Exit</button>
</section>

</section>