<section class="pagebreadcrumb">
    <section class="contentwrap">
        <h3>Home > New Application > Search Client > Client Details</h3>
    </section>

</section>
<section class="contentwrap contentwrapsmall">
    <section class="data-content whiteclr">
        <ul class="tab_container">
            <!-- <li [ngClass]="{'current': ClientPicture, 'filled': (IDVerification || OKYCProfileReview) }"
                (click)="clickDetails('a')">Client Picture</li>
            <li [ngClass]="{'current': IDVerification, 'filled': ( OKYCProfileReview)}" class=""
                (click)="clickDetails('b')">ID Verification</li>
            <li [ngClass]="{'current': OKYCProfileReview}" class="" (click)="clickDetails('c')">OKYC Profile Review</li> -->


            <li routerLink="clientverification" routerLinkActive="current" [ngClass]="{'filled': fillClient}">Client Picture</li>
        <li  routerLink="idverification" routerLinkActive="current" [ngClass]="{'filled': fillId}">ID Verification</li>
        <li routerLink="kycprofilereview" routerLinkActive="current" [ngClass]="{'filled': fillreview}">OKYC Profile Review</li>

        </ul>
      

        <router-outlet></router-outlet>
       

        











    </section>


</section>


