<section class="pagebreadcrumb">
    <section class="contentwrap">
        <h3>Home > New Application > Search Client > Loan Details</h3>
    </section>

</section>
<section class="contentwrap contentwrapsmall">
    <section class="data-content whiteclr">
        <ul class="tab_container">
            <li  [ngClass]="{'current': loanDetails, 'filled': (guarantordetails || insurancedetails || bankdetails) }" (click)="clickDetails('a')">Loan Details</li>
            <li  #BMguarantordetailsButton [ngClass]="{'current': guarantordetails, 'filled': (insurancedetails || bankdetails)}" class="" (click)="clickDetails('b')">Guarantor’s Details</li>
            <li #BMinsurancedetailsButton [ngClass]="{'current': insurancedetails, 'filled': (bankdetails)}" class="" (click)="clickDetails('c')">Insurance Details</li>
            <li #BMbankdetailsButton [ngClass]="{'current': bankdetails}" class="" (click)="clickDetails('d')">Bank Details</li>
        </ul>

        <ng-container *ngIf="loanDetails">
        
<section class="detailsbox whiteclr marT20">
            <ul class="detailsUL detailsULNew">
                <li><label>Loan Eligibility</label>
                    <!-- <span>30,000</span> -->
                    {{LoanDetails['LoanEligibility'] }}
                </li>
                <li><label>ROI</label>
                    <!-- <span>12%</span> -->
                    {{LoanDetails['ROI'] }}
                </li>
                <li><label>EMI</label>
                    <!-- <span>2000</span> -->
                    {{LoanDetails['EMI'] }}
                </li>
                <li><label>Meeting Date</label>
                    <!-- <span>12 jan 23</span> -->
                    {{LoanDetails['MeetingDay'] }}
                </li>
        
                <li><label>Meeting Week</label>
                    <!-- <span>1st week</span> -->
                    {{LoanDetails['MeetingWeek'] }}
                </li>
              
               
        
        
            </ul>
        </section>

        <section class="detailsbox whiteclr marT20">
            
            <ul class="detailsUL detailsULNew">
                <li><label>Loan Type</label>
                    <span>Group</span>
                    <!-- {{LoanDetails['LoanEligibility'] }} -->
                </li>
                <li><label>Loan Purpose</label>
                    <span>Education</span>
                    <!-- {{LoanDetails['ROI'] }} -->
                </li>
                <li><label>Loan Product</label>
                    <span>JLG</span>
                    <!-- {{LoanDetails['EMI'] }} -->
                </li>
                <li><label>Loan Product Code</label>
                    <span>456</span>
                    <!-- {{LoanDetails['MeetingDay'] }} -->
                </li>
        
                <li><label>Applied Amount</label>
                    <span>22,000</span>
                    <!-- {{LoanDetails['MeetingWeek'] }} -->
                </li>


                <li><label>Tenure</label>
                    <span>36</span>
                    <!-- {{LoanDetails['MeetingWeek'] }} -->
                </li>

                <li><label>Recommended Amount</label>
                    <span>20,000</span>
                    <!-- {{LoanDetails['MeetingWeek'] }} -->
                </li>

                <li><label>Choice Of Repayment</label>
                    <span>Monthly</span>
                    <!-- {{LoanDetails['MeetingWeek'] }} -->
                </li>

                <ul>
                    <li><label>Is the Client Politically Exposed Person</label>
                    <span>Yes</span>
                    <!-- {{LoanDetails['MeetingWeek'] }} -->
                </li>
                </ul>

                <ul>
                    <li>
                        <label>Is the Client related to any politically exposed person</label>
                    <span>Yes</span>
                    <!-- {{LoanDetails['MeetingWeek'] }} -->
                </li>
                </ul>
              
               
        
        
            </ul>
            <section style="text-align: right; margin: 30px 0;">
                <button class="loginBtn"  mat-raised-button color="primary" (click)="hide = !hide">Update Details</button>
            </section>
        </section>

        <section *ngIf =!hide >
            <ul class="list_type bglisttype ">
                <li>
                    <section class="inputsec">
                        <label>Tenure(in months)</label>
                        <mat-form-field appearance="outline">
                            <mat-select formControlName="LoanType">
                                <mat-option>
                                    Select
                                </mat-option>
                                <mat-option [value]="'option1'">
                                    option1
                                </mat-option>
                                <mat-option [value]="'option2'">
                                    option2
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </section>
                    </li>
                    <li>
                        <section class="inputsec">
                            <label>Choice of Repayment</label>
                            <mat-form-field appearance="outline">
                                <mat-select formControlName="LoanType">
                                    <mat-option>
                                        Select
                                    </mat-option>
                                    <mat-option [value]="'option1'">
                                        option1
                                    </mat-option>
                                    <mat-option [value]="'option2'">
                                        option2
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </section>
                        </li>
                    
                       
                            
              </ul>
              <ul class="list_type bglisttype ">
                <li>
                    <section class="inputsec">
                        <label>Is The Client Politically Exposed Person</label>
                        <mat-form-field appearance="outline">
                            <mat-select formControlName="LoanType">
                                <mat-option>
                                    Select
                                </mat-option>
                                <mat-option [value]="'option1'">
                                    option1
                                </mat-option>
                                <mat-option [value]="'option2'">
                                    option2
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </section>
                    </li>
                    <li>
                        <section class="inputsec">
                            <label>Is The Client Related To Any Politically Exposed Person</label>
                            <mat-form-field appearance="outline">
                                <mat-select formControlName="LoanType">
                                    <mat-option>
                                        Select
                                    </mat-option>
                                    <mat-option [value]="'option1'">
                                        option1
                                    </mat-option>
                                    <mat-option [value]="'option2'">
                                        option2
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </section>
                        </li>
              </ul>
              <ul class="list_type">
        
                <li>
            <section class="inputsec">
                <label>BM Approval Status</label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="LoanType">
                        <mat-option>
                            Select
                        </mat-option>
                        <mat-option [value]="'option1'">
                            option1
                        </mat-option>
                        <mat-option [value]="'option2'">
                            option2
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </section>
            </li>
            <li>
                <section class="inputsec">
                    <label>BM Recommended Amount</label>
                    <mat-form-field appearance="outline">
                        <input required matInput placeholder=""  formControlName="LoanPurpose">
                    </mat-form-field>
                </section>
            </li>
            
            
         
            </ul> 
            
       
            <section class="inputsec">
                <ul class="list_type">
                   
                <li>
                    <label>Rejection Reason </label>
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="LoanType">
                            <mat-option>
                                Select
                            </mat-option>
                            <mat-option [value]="'option1'">
                                option1
                            </mat-option>
                            <mat-option [value]="'option2'">
                                option2
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </li>
                </ul>
            
        
            </section>
            </section>

        <form [formGroup]="form" (ngSubmit)="Submit(form)">
        
        
            
        <section class="inputsec"  *ngIf =hide>
            <ul class="list_type">
            <li>
            <label>BM Approval Status</label>
            <mat-form-field appearance="outline">
                <mat-select formControlName="LoanType">
                    <mat-option>
                        Select
                    </mat-option>
                    <mat-option [value]="'option1'">
                        option1
                    </mat-option>
                    <mat-option [value]="'option2'">
                        option2
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </li>
        <li>
            <section class="inputsec">
                <label>BM Recommended Amount</label>
                <mat-form-field appearance="outline">
                    <input required matInput placeholder="" formControlName="LoanPurpose">
                </mat-form-field>
            </section>
        </li>
         
    
</ul>

</section>
        
        


   
        <section class="btnscontainer marT30">
          
             <!-- <section><button class="filledbtn"  mat-raised-button  (click)="warningpopup()" type="submit" >Next</button></section> -->

               <section><button class="filledbtn"  *ngIf =hide mat-raised-bsubmitutton type="submit" >Save & Next</button></section>
             <!-- <button class="filledbtn" mat-raised-button type="submit">Next</button> -->
         </section>
        </form>
          
    </ng-container>

    <ng-container *ngIf="guarantordetails">
<app-bmloandetails-guarantordetails   (BMguarantor)="BMguarantordetailsSave()"></app-bmloandetails-guarantordetails>
        </ng-container>


        <ng-container *ngIf="insurancedetails">
            <app-bmloandetails-insurancedetails (BMinsurance)="BMinsurancedetailsSave()"></app-bmloandetails-insurancedetails>
                    </ng-container>
            
                    <ng-container *ngIf="bankdetails">
                        <app-bmloandetails-bankdetails></app-bmloandetails-bankdetails>
                                </ng-container>
    </section>

</section>


<ng-template #reasondialog>
    <div mat-dialog-content>

       <section class="modelimg"> <img src="../../../../assets/images/newcenter.png" /></section>

        <section class="label-center"> Add New Center</section>
        <section class="inputsec">
            <label>Center Meeting Day</label>
            <mat-form-field appearance="outline">
                <mat-select>
                    <mat-option>
                        Select
                    </mat-option>
                    <mat-option [value]="'option1'">
                        option1
                    </mat-option>
                    <mat-option [value]="'option2'">
                        option2
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>
      
      
        <section class="inputsec">
            <label>Center Meeting Week</label>
            <mat-form-field appearance="outline">
                <mat-select>
                    <mat-option>
                        Select
                    </mat-option>
                    <mat-option [value]="'option1'">
                        option1
                    </mat-option>
                    <mat-option [value]="'option2'">
                        option2
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>
    </div>
    <div mat-dialog-actions class="center">
        <button mat-raised-button class="filledBtn" (click)="onNoClick()">Add</button>
        <button mat-stroked-button class="strokedBtn" (click)="onNoClick()">Cancel</button>
    </div>
</ng-template>



<ng-template #enlargedialog>


    <div mat-dialog-content>
        <img src="../../../../assets/images/img1.jpg" style="width:500px" />
    </div>



    <div mat-dialog-actions class="center">

        <button mat-stroked-button class="strokedBtn" (click)="close()">Close</button>
    </div>
</ng-template>