
<form [formGroup]="form"  (ngSubmit)="submit(form)">
    <section class="pagebreadcrumb">
        <section class="contentwrap">
            <h3>Home > New Application  > GST Details</h3>
        </section>
    
    </section>
    <section class="contentwrap contentwrapsmall">
        <section class="data-content whiteclr">
    
            <mat-accordion multi>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            CGT 1 Details
                        </mat-panel-title>
            
                    </mat-expansion-panel-header>
                    <section >
                       
                        <ul class="list_type bglisttype ">
                            <li>
                                <section class="inputsec">
                                    <label>Company knowledge</label>
                                    <section>Yes</section>
            
                                </section>
                            </li>
                            <li>
                                <section class="inputsec">
                                    <label>Group orientation And Responsibilty</label>
                                    <section>Yes</section>
            
                                </section>
                            </li>
                            <li>
                                <section class="inputsec">
                                    <label>Product knowledge</label>
                                    <section>Yes</section>
            
                                </section>
                            </li>
                            
                        </ul>
                        <ul class="list_type bglisttype ">
                            <li>
                                <section class="inputsec">
                                    <label>Grievance redressal Mechanism</label>
                                    <section>Yes</section>
            
                                </section>
                            </li>
                            <li>
                                <section class="inputsec">
                                    <label>lone Recovery Process</label>
                                    <section>Yes</section>
            
                                </section>
                            </li>
                            <li>
                                <section class="inputsec">
                                    <label>Insurance knowledge</label>
                                    <section>Yes</section>
            
                                </section>
                            </li>
                            
                        </ul>
                        <ul class="list_type bglisttype ">
                            <li>
                                <section class="inputsec">
                                    <label>Awareness On Financial Literacy</label>
                                    <section>Yes</section>
            
                                </section>
                            </li>
                            <li>
                                <section class="inputsec">
                                    <label>Awareness About Financial Malpractice</label>
                                    <section>Yes</section>
            
                                </section>
                            </li>
                        </ul>
                        <ul class="list_type bglisttype ">
                            <li>
                                <section class="inputsec">
                                    <label>Impact Of timely Loan Repayment In Credit Bureau</label>
                                    <section>Yes</section>
            
                                </section>
                            </li>
                            <li>
                                <section class="inputsec">
                                    <label>CGT Date</label>
                                    <section>12 jan 2023</section>
            
                                </section>
                            </li>
                        </ul>
                        
                    
            
                       
            
            
            
            
                       
                    </section>
            
                </mat-expansion-panel>
            
            </mat-accordion>

            <mat-accordion multi>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            FCO Details
                        </mat-panel-title>
            
                    </mat-expansion-panel-header>
                    <section >
                       
                       
                        <ul class="list_type bglisttype ">
                            <li>
                                <section class="inputsec">
                                    <label>FCO Employee ID</label>
                                    <section>12345</section>
            
                                </section>
                            </li>
                            <li>
                                <section class="inputsec">
                                    <label>FCO Name</label>
                                    <section>Vivek</section>
            
                                </section>
                            </li>
                        </ul>
                        <ul class="list_type bglisttype ">
                            <li>
                                <section class="inputsec">
                                    <label>FCO Remarks</label>
                                    <section>Lorem ipsum is a dummy text.</section>
            
                                </section>
                            </li>
                            
                        </ul>
                        
                    
            
                       
            
            
            
            
                       
                    </section>
            
                </mat-expansion-panel>
            
            </mat-accordion>
        
                     
        <section class="btnscontainer marT30">
           
            <section><button class="filledbtn"  mat-raised-button  >Save&Next</button></section>
        </section>
        
        </section>
        </section>
    
    </form>
        
        
        