<section  >
    <ul class="list_type bglisttype ">
    <li>
    <section class="inputsec">
    <label>Accommodation/Rent</label>
    <section>500</section>
    
    </section>
    </li>
    <li>
    <section class="inputsec">
        <label>Food+Cooking Fuel</label>
        <section>600</section>
        
    </section>
    </li>
    <li>
        <section class="inputsec">
            <label>Clothes</label>
            <section>500</section>
            
        </section>
        </li>
        
    </ul>
    
    <ul class="list_type bglisttype ">
    <li>
    <section class="inputsec">
    <label>Regular Education Expenses</label>
    <section>1000</section>
    
    </section>
    </li>
    <li>
    <section class="inputsec">
        <label>Electricity/Phone/Data/Cable</label>
        <section>400</section>
        
    </section>
    </li>
    <li>
        <section class="inputsec">
            <label>Entertainment/Social obligation</label>
            <section>500</section>
            
        </section>
        </li>
        
    </ul>
    
    <ul class="list_type bglisttype ">
    <li>
    <section class="inputsec">
    <label>Regular Medical Costs</label>
    <section>2000</section>
    
    </section>
    </li>
    <li>
        <section class="inputsec">
            <label>Savings</label>
            <section>5000</section>
            
        </section>
        </li>
        <li>
            <section class="inputsec">
                <label>Transport</label>
                <section>500</section>
                
            </section>
            </li>
    
        
    </ul>
    
    <ul class="list_type bglisttype ">
    <li>
    <section class="inputsec">
    <label>Total Regular Expenses(Monthly)</label>
    <section>2000</section>
    
    </section>
    </li>
    <li>
    <section class="inputsec">
        <label>Remarks</label>
        <section>Lorem ipsum is a dummy text for printing & digital graphics</section>
        
    </section>
    </li>
    </ul>


    <div mat-dialog-actions class="center">
        <button mat-raised-button class="filledBtn" (click)="next()">Save & Next</button>
     
    </div>

   
    </section>