<section class="sectionaccrodian" *ngIf="regularexp">
<h2> Regular Expenses (Monthly)</h2>

<form [formGroup]="form"  (ngSubmit)="submit(form)">

    <ul class="list_type">
        <li>
            <section class="inputsec">
                <label>Accommodation/Rent</label>
                <mat-form-field class="iconform" appearance="outline">
                    <input  matInput formControlName="AccommodationRent" placeholder="Rent" value="0">
                    <span class="fromicon iconnot" (click)="popup()"></span>
                </mat-form-field>
            </section>
        </li>
     
        <li>
            <section class="inputsec">
                <label>Food + Cooking fuel</label>
                <mat-form-field class="iconform" appearance="outline">
                    <input  matInput formControlName="FoodCookingfuel" placeholder="" >
                    <span class=" fromicon iconnot"></span>
                </mat-form-field>
            </section>
        </li>
        <li>
            <section class="inputsec">
                <label>Clothes</label>
                <mat-form-field class="iconform" appearance="outline">
                    <input  formControlName="Cothes"  matInput placeholder="">
                    <span class=" fromicon iconnot"></span>
                </mat-form-field>
            </section>
        </li>
        <li>
            <section class="inputsec">
                <label>Regular Educationexpenses</label>
                <mat-form-field class="iconform" appearance="outline">
                    <input  formControlName="RegularEducationExpenses"   matInput placeholder="" >
                    <span class=" fromicon iconnot"></span>
                </mat-form-field>
            </section>
        </li>
     
        <li>
            <section class="inputsec">
                <label>Electricity/phone/data/cable</label>
                <mat-form-field class="iconform" appearance="outline">
                    <input formControlName="ElectricityphoneDataCable"  matInput placeholder="" >
                    <span class=" fromicon iconnot"></span>
                </mat-form-field>
            </section>
        </li>
        <li>
            <section class="inputsec">
                <label>Regular medical costs</label>
                <mat-form-field class="iconform" appearance="outline">
                    <input formControlName="RegularMedicalCosts"  matInput placeholder="">
                    <span class=" fromicon iconnot"></span>
                </mat-form-field>
            </section>
        </li>
        <li>
            <section class="inputsec">
                <label>Transport</label>
                <mat-form-field class="iconform" appearance="outline">
                    <input formControlName="Transport"  matInput placeholder="">
                    <span class=" fromicon iconnot"></span>
                </mat-form-field>
            </section>
        </li>
        <li>
            <section class="inputsec">
                <label>Entertainment/social obligations</label>
                <mat-form-field class="iconform" appearance="outline">
                    <input formControlName="EntertainmentSocialobligations"  matInput placeholder="">
                    <span class=" fromicon iconnot"></span>
                </mat-form-field>
            </section>
        </li>
        <li>
            <section class="inputsec">
                <label>Savings</label>
                <mat-form-field class="iconform" appearance="outline">
                    <input formControlName="Saving"  matInput placeholder="">
                    <span class=" fromicon iconnot"></span>
                </mat-form-field>
            </section>
        </li>
        <li>
            <section class="inputsec">
                <label>Others</label>
                <mat-form-field class="iconform" appearance="outline">
                    <input formControlName="Other"  matInput placeholder="">
                    <span class=" fromicon iconnot"></span>
                </mat-form-field>
            </section>
        </li>
        <li>
            <section class="inputsec">
                <label>Total Regular Expenses</label>
                <mat-form-field class="iconform" appearance="outline">
                    <input formControlName="TotalIrregularExpenseMothly" matInput placeholder="">
                    <span class=" fromicon iconnot"></span>
                </mat-form-field>
            </section>
        </li>
    
    </ul>
    
<section style="text-align: center; margin-top: 30px;">
    <button type="submit" [disabled]="!form.valid" class="loginBtn"  mat-raised-button color="primary">Save & next</button>
</section>
</form>
</section>


<section class="sectionaccrodian" *ngIf="!regularexp">
    <h2> Irregular Expenses (Annually)</h2>
    <form [formGroup]="irform">
        <ul class="list_type">
            <li>
                <section class="inputsec">
                    <label>Medical/Health</label>
                    <mat-form-field class="iconform" appearance="outline">
                        <input formControlName="MedicalHeath" matInput placeholder="Rent" value="0">
                        <span class="fromicon iconnot" (click)="popup()"></span>
                    </mat-form-field>
                </section>
            </li>
         
            <li>
                <section class="inputsec">
                    <label>House Renovation</label>
                    <mat-form-field class="iconform" appearance="outline">
                        <input formControlName="HouseRenovation" matInput placeholder="" >
                        <span class=" fromicon iconnot"></span>
                    </mat-form-field>
                </section>
            </li>
            <li>
                <section class="inputsec">
                    <label>Purchase of household goods</label>
                    <mat-form-field class="iconform" appearance="outline">
                        <input formControlName="PurchaseOfHouseHoldGoods" matInput placeholder="" >
                        <span class=" fromicon iconnot"></span>
                    </mat-form-field>
                </section>
            </li>
            <li>
                <section class="inputsec">
                    <label>Functions</label>
                    <mat-form-field class="iconform" appearance="outline">
                        <input formControlName="Functions" matInput placeholder="" >
                        <span class=" fromicon iconnot"></span>
                    </mat-form-field>
                </section>
            </li>
         
            <li>
                <section class="inputsec">
                    <label>Education</label>
                    <mat-form-field class="iconform" appearance="outline">
                        <input formControlName="Education" matInput placeholder="" >
                        <span class=" fromicon iconnot"></span>
                    </mat-form-field>
                </section>
            </li>
            <li>
                <section class="inputsec">
                    <label>Others</label>
                    <mat-form-field class="iconform" appearance="outline">
                        <input formControlName="Others" matInput placeholder="" >
                        <span class=" fromicon iconnot"></span>
                    </mat-form-field>
                </section>
            </li>
           
            <li>
                <section class="inputsec">
                    <label>Total Irregular Expenses(Monthly)</label>
                    <mat-form-field class="iconform" appearance="outline">
                        <input formControlName="TotalIrregularExpenseMothly"   matInput placeholder="" >
                        <span class=" fromicon iconnot"></span>
                    </mat-form-field>
                </section>
            </li>
            <li>
                <section class="inputsec">
                    <label>Total Irregular Expenses(Annually)</label>
                    <mat-form-field class="iconform" appearance="outline">
                        <input formControlName="TotalIrregularExpenseAnnually"   matInput placeholder="" >
                        <span class=" fromicon iconnot"></span>
                    </mat-form-field>
                </section>      
            </li>
        
        </ul>
        <section style="text-align: center; margin-top: 30px;">
            <button type="submit" (click)="submitirregular(irform);" [disabled]="!irform.valid" class="loginBtn"  mat-raised-button color="primary">Save & next</button>
        </section>
</form>
    </section>
<!-- 
<mat-accordion multi>

    <mat-expansion-panel [expanded]="true" (opened)="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Regular Expenses (Monthly)
            </mat-panel-title>

        </mat-expansion-panel-header>

        <form [formGroup]="form"  (ngSubmit)="submit(form)">

        <ul class="list_type">
            <li>
                <section class="inputsec">
                    <label>Accommodation/Rent</label>
                    <mat-form-field class="iconform" appearance="outline">
                        <input  matInput formControlName="AccommodationRent" placeholder="Rent" value="0">
                        <span class="fromicon iconnot" (click)="popup()"></span>
                    </mat-form-field>
                </section>
            </li>
         
            <li>
                <section class="inputsec">
                    <label>Food + Cooking fuel</label>
                    <mat-form-field class="iconform" appearance="outline">
                        <input  matInput formControlName="FoodCookingfuel" placeholder="" >
                        <span class=" fromicon iconnot"></span>
                    </mat-form-field>
                </section>
            </li>
            <li>
                <section class="inputsec">
                    <label>Clothes</label>
                    <mat-form-field class="iconform" appearance="outline">
                        <input  formControlName="Cothes"  matInput placeholder="">
                        <span class=" fromicon iconnot"></span>
                    </mat-form-field>
                </section>
            </li>
            <li>
                <section class="inputsec">
                    <label>Regular Educationexpenses</label>
                    <mat-form-field class="iconform" appearance="outline">
                        <input  formControlName="RegularEducationExpenses"   matInput placeholder="" >
                        <span class=" fromicon iconnot"></span>
                    </mat-form-field>
                </section>
            </li>
         
            <li>
                <section class="inputsec">
                    <label>Electricity/phone/data/cable</label>
                    <mat-form-field class="iconform" appearance="outline">
                        <input formControlName="ElectricityphoneDataCable"  matInput placeholder="" >
                        <span class=" fromicon iconnot"></span>
                    </mat-form-field>
                </section>
            </li>
            <li>
                <section class="inputsec">
                    <label>Regular medical costs</label>
                    <mat-form-field class="iconform" appearance="outline">
                        <input formControlName="RegularMedicalCosts"  matInput placeholder="">
                        <span class=" fromicon iconnot"></span>
                    </mat-form-field>
                </section>
            </li>
            <li>
                <section class="inputsec">
                    <label>Transport</label>
                    <mat-form-field class="iconform" appearance="outline">
                        <input formControlName="Transport"  matInput placeholder="">
                        <span class=" fromicon iconnot"></span>
                    </mat-form-field>
                </section>
            </li>
            <li>
                <section class="inputsec">
                    <label>Entertainment/social obligations</label>
                    <mat-form-field class="iconform" appearance="outline">
                        <input formControlName="EntertainmentSocialobligations"  matInput placeholder="">
                        <span class=" fromicon iconnot"></span>
                    </mat-form-field>
                </section>
            </li>
            <li>
                <section class="inputsec">
                    <label>Savings</label>
                    <mat-form-field class="iconform" appearance="outline">
                        <input formControlName="Saving"  matInput placeholder="">
                        <span class=" fromicon iconnot"></span>
                    </mat-form-field>
                </section>
            </li>
            <li>
                <section class="inputsec">
                    <label>Others</label>
                    <mat-form-field class="iconform" appearance="outline">
                        <input formControlName="Other"  matInput placeholder="">
                        <span class=" fromicon iconnot"></span>
                    </mat-form-field>
                </section>
            </li>
            <li>
                <section class="inputsec">
                    <label>Total Regular Expenses</label>
                    <mat-form-field class="iconform" appearance="outline">
                        <input formControlName="TotalIrregularExpenseMothly" matInput placeholder="">
                        <span class=" fromicon iconnot"></span>
                    </mat-form-field>
                </section>
            </li>
        
        </ul>
        
    <section style="text-align: center; margin-top: 30px;">
        <button type="submit" (click)="submit(form)" [disabled]="!form.valid" class="loginBtn"  mat-raised-button color="primary">Save & next</button>
    </section>
</form>



        </mat-expansion-panel>



        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Irregular Expenses (Annually)
                </mat-panel-title>
    
            </mat-expansion-panel-header>
    
            
            <form [formGroup]="irform">
            <ul class="list_type">
                <li>
                    <section class="inputsec">
                        <label>Medical/Health</label>
                        <mat-form-field class="iconform" appearance="outline">
                            <input formControlName="MedicalHeath" matInput placeholder="Rent" value="0">
                            <span class="fromicon iconnot" (click)="popup()"></span>
                        </mat-form-field>
                    </section>
                </li>
             
                <li>
                    <section class="inputsec">
                        <label>House Renovation</label>
                        <mat-form-field class="iconform" appearance="outline">
                            <input formControlName="HouseRenovation" matInput placeholder="" >
                            <span class=" fromicon iconnot"></span>
                        </mat-form-field>
                    </section>
                </li>
                <li>
                    <section class="inputsec">
                        <label>Purchase of household goods</label>
                        <mat-form-field class="iconform" appearance="outline">
                            <input formControlName="PurchaseOfHouseHoldGoods" matInput placeholder="" >
                            <span class=" fromicon iconnot"></span>
                        </mat-form-field>
                    </section>
                </li>
                <li>
                    <section class="inputsec">
                        <label>Functions</label>
                        <mat-form-field class="iconform" appearance="outline">
                            <input formControlName="Functions" matInput placeholder="" >
                            <span class=" fromicon iconnot"></span>
                        </mat-form-field>
                    </section>
                </li>
             
                <li>
                    <section class="inputsec">
                        <label>Education</label>
                        <mat-form-field class="iconform" appearance="outline">
                            <input formControlName="Education" matInput placeholder="" >
                            <span class=" fromicon iconnot"></span>
                        </mat-form-field>
                    </section>
                </li>
                <li>
                    <section class="inputsec">
                        <label>Others</label>
                        <mat-form-field class="iconform" appearance="outline">
                            <input formControlName="Others" matInput placeholder="" >
                            <span class=" fromicon iconnot"></span>
                        </mat-form-field>
                    </section>
                </li>
               
                <li>
                    <section class="inputsec">
                        <label>Total Irregular Expenses(Monthly)</label>
                        <mat-form-field class="iconform" appearance="outline">
                            <input formControlName="TotalIrregularExpenseMothly"   matInput placeholder="" >
                            <span class=" fromicon iconnot"></span>
                        </mat-form-field>
                    </section>
                </li>
                <li>
                    <section class="inputsec">
                        <label>Total Irregular Expenses(Annually)</label>
                        <mat-form-field class="iconform" appearance="outline">
                            <input formControlName="TotalIrregularExpenseAnnually"   matInput placeholder="" >
                            <span class=" fromicon iconnot"></span>
                        </mat-form-field>
                    </section>
                </li>
            
            </ul>
            <section style="text-align: center; margin-top: 30px;">
                <button type="submit" (click)="submitirregular(irform)" [disabled]="!irform.valid" class="loginBtn"  mat-raised-button color="primary">Save & next</button>
            </section>
    </form>
    
    
    
            </mat-expansion-panel>

    </mat-accordion> -->
