<section class="pagebreadcrumb">
    <section class="contentwrap">
        <h3>Home > New Application > Appraisal</h3>
    </section>

</section>
<section class="contentwrap contentwrapsmall">
    <section class="data-content whiteclr">

<section class="detailsbox whiteclr marT20">
    <ul class="detailsUL detailsULNew">
        <li><label>Member Name</label>
            <span>Ravikanth</span>
        </li>
        <li><label>Household Income</label>
            <span>10,000</span>
        </li>
        <li><label>No. of Earning Member</label>
            <span>2</span>
        </li>
        <li><label>Household EMI</label>
            <span>5000</span>
        </li>

        <li><label>Household Expenditure</label>
            <span>4,000</span>
        </li>
        <li><label>Loan Eligibility  </label>
            <span>24,000</span>
        </li>
        <li><label>ROI</label>
            <span>12%</span>
        </li>
        

        <li><label>Appraisal Date</label>
            <span>10 Aug 2022</span>
        </li>
        <li><label>Name of AO  </label>
            <span>Sharma</span>
        </li>
        <li><label>ID of AO</label>
            <span>123456</span>
        </li>
        
       


    </ul>


</section>

<ul class="list_type">
    <li>
        <section class="inputsec">
            <label>Village</label>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="Name" value="Rajesh">
            </mat-form-field>
        </section>
    </li>
    <li>
        <section class="inputsec">
            <label>Center</label>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="Search">
            </mat-form-field>
        </section>
    </li>
    <li>
        <section class="inputsec">
            <label>Group Name</label>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="Name" value="">
            </mat-form-field>
        </section>
    </li>
    <li>
        <section class="inputsec">
            <label>Loan Applied</label>
            <mat-form-field appearance="outline">
                <input required matInput >
            </mat-form-field>
        </section>
    </li>
    <li>
        <section class="inputsec">
            <label>Loan Recomended</label>
            <mat-form-field appearance="outline">
                <input required matInput >
            </mat-form-field>
        </section>
    </li>
    <li>
<section class="inputsec">
    <label>Loan Status</label>
    <mat-form-field appearance="outline">
        <mat-select>
            <mat-option>
                Select
            </mat-option>
            <mat-option [value]="'option1'">
                option1
            </mat-option>
            <mat-option [value]="'option2'">
                option2
            </mat-option>
        </mat-select>
    </mat-form-field>
</section>
</li>


<li>
    <section class="inputsec">
        <label>Total Loan Amount approved by AOd</label>
        <mat-form-field appearance="outline">
            <input required matInput >
        </mat-form-field>
    </section>
</li>
<li>
<section class="inputsec">
<label>Tenure</label>
<mat-form-field appearance="outline">
    <mat-select>
        <mat-option>
            Select
        </mat-option>
        <mat-option [value]="'option1'">
            option1
        </mat-option>
        <mat-option [value]="'option2'">
            option2
        </mat-option>
    </mat-select>
</mat-form-field>
</section>
</li>


    <li>
        <section class="inputsec">
            <label>Appraisal Remark.</label>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="Enter Remarks">
            </mat-form-field>
        </section>
    </li>
    

</ul>



<mat-accordion multi>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Add PPI questions
            </mat-panel-title>

        </mat-expansion-panel-header>

       
        <ul class="list_type">
            <li>
                <section class="inputsec">
                <label>Select a member</label>
                <mat-form-field appearance="outline">
                    <mat-select>
                        <mat-option>
                            Select
                        </mat-option>
                        <mat-option [value]="'option1'">
                            option1
                        </mat-option>
                        <mat-option [value]="'option2'">
                            option2
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                </section>
                </li>
                <li>
                    <section class="inputsec">
                    <label>How many members are there in the household ?r</label>
                    <mat-form-field appearance="outline">
                        <mat-select>
                            <mat-option>
                                Select
                            </mat-option>
                            <mat-option [value]="'option1'">
                                option1
                            </mat-option>
                            <mat-option [value]="'option2'">
                                option2
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    </section>
                    </li>


                    <li>
                        <section class="inputsec">
                        <label>What is the general education level of the female head spouse ?</label>
                        <mat-form-field appearance="outline">
                            <mat-select>
                                <mat-option>
                                    Select
                                </mat-option>
                                <mat-option [value]="'option1'">
                                    option1
                                </mat-option>
                                <mat-option [value]="'option2'">
                                    option2
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        </section>
                        </li>

                        <li>
                            <section class="inputsec">
                            <label>Does the household possess a refrigerator ?</label>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                    <mat-option>
                                        Select
                                    </mat-option>
                                    <mat-option [value]="'option1'">
                                        option1
                                    </mat-option>
                                    <mat-option [value]="'option2'">
                                        option2
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            </section>
                            </li>
                            <li>
                                <section class="inputsec">
                                <label>Does the household possess a stove/gas burner ?</label>
                                <mat-form-field appearance="outline">
                                    <mat-select>
                                        <mat-option>
                                            Select
                                        </mat-option>
                                        <mat-option [value]="'option1'">
                                            option1
                                        </mat-option>
                                        <mat-option [value]="'option2'">
                                            option2
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                </section>
                                </li>
                                <li>
                                    <section class="inputsec">
                                    <label>Does the household possess a pressure cooker/pressure pan ?</label>
                                    <mat-form-field appearance="outline">
                                        <mat-select>
                                            <mat-option>
                                                Select
                                            </mat-option>
                                            <mat-option [value]="'option1'">
                                                Yes
                                            </mat-option>
                                            <mat-option [value]="'option2'">
                                                No
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    </section>
                                    </li>


                                    <li>
                                        <section class="inputsec">
                                        <label>Does the household possess a television ?</label>
                                        <mat-form-field appearance="outline">
                                            <mat-select>
                                                <mat-option>
                                                    Select
                                                </mat-option>
                                                <mat-option [value]="'option1'">
                                                    Yes
                                                </mat-option>
                                                <mat-option [value]="'option2'">
                                                    No
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        </section>
                                        </li>

                                        <li>
                                            <section class="inputsec">
                                            <label>Does the household possess an electric fan ?</label>
                                            <mat-form-field appearance="outline">
                                                <mat-select>
                                                    <mat-option>
                                                        Select
                                                    </mat-option>
                                                    <mat-option [value]="'option1'">
                                                        Yes
                                                    </mat-option>
                                                    <mat-option [value]="'option2'">
                                                        No
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            </section>
                                            </li>
            </ul>
       

        </mat-expansion-panel>

</mat-accordion>

<section class="btnswrapper">
    <button mat-raised-button class="btns" color="primary" >Save </button>
</section>

</section>
</section>