<form [formGroup]="form"  (ngSubmit)="submit(form)">

    <section class="boxsection">
        <h2 class="bgtitle">Other details</h2>
    
        
          
            </section>
    

    <ul class="list_type">
        <li>
       <section class="inputsec">
                <label>Electricity</label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="FamilyType" >
                        <mat-option>
                            Select
                        </mat-option>
                        
                      
                    </mat-select>
                </mat-form-field>
            </section>
          
        </li>
        <li class="">
            <section class="inputsec">
                <label>Customer ID</label>
                <mat-form-field appearance="outline">
                    <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                </mat-form-field>
            </section>
        </li>
    </ul>
    
    
    <ul class="list_type">
        <li class="">
            <section class="inputsec">
                <label>Water</label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="FamilyType" >
                        <mat-option>
                            Select
                        </mat-option>
                        
                      
                    </mat-select>
                </mat-form-field>
            </section>
        </li>
        <li class="">
            <section class="inputsec">
                <label>Toilet</label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="FamilyType" >
                        <mat-option>
                            Select
                        </mat-option>
                        
                      
                    </mat-select>
                </mat-form-field>
            </section>
        </li>
    </ul>
    
    
    
    <ul class="list_type">
       
        <li class="">
            <section class="inputsec">
                <label>Land</label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="FamilyType" >
                        <mat-option>
                            Select
                        </mat-option>
                        
                      
                    </mat-select>
                </mat-form-field>
            </section>
        </li>
        <li>
            <section class="inputsec">
                <label>Land Unit (In Acre)</label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="FamilyType" >
                        <mat-option>
                            Select
                        </mat-option>
                        
                      
                    </mat-select>
                </mat-form-field>
            </section>
               
             </li>
    </ul>
    
    
    
    <ul class="list_type">
       
        <li>
            <section class="inputsec">
                <label>Sewage</label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="FamilyType" >
                        <mat-option>
                            Select
                        </mat-option>
                        
                      
                    </mat-select>
                </mat-form-field>
            </section>
               
             </li>
        
    </ul>

    <ul class="list_type">
       
        <li class="">
            <section class="inputsec">
                <label>LPG</label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="FamilyType" >
                        <mat-option>
                            Select
                        </mat-option>
                        
                      
                    </mat-select>
                </mat-form-field>
            </section>
        </li>
        <li>
            <section class="inputsec">
                <label>LPG Consumer No.</label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="FamilyType" >
                        <mat-option>
                            Select
                        </mat-option>
                        
                      
                    </mat-select>
                </mat-form-field>
            </section>
               
             </li>
    </ul>
    
    
    
    <ul class="list_type">
       
        <li>
            <section class="inputsec">
                <label>Livestock</label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="FamilyType" >
                        <mat-option>
                            Select
                        </mat-option>
                        
                      
                    </mat-select>
                </mat-form-field>
            </section>
               
             </li>
        
    </ul>

    <ul class="list_type">
       
        <li class="">
            <section class="inputsec">
                <label>Type of Livestock</label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="FamilyType" >
                        <mat-option>
                            Select
                        </mat-option>
                        
                      
                    </mat-select>
                </mat-form-field>
            </section>
        </li>
        <li class="">
            <section class="inputsec">
                <label>Count</label>
                <mat-form-field appearance="outline">
                    <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                </mat-form-field>
            </section>
        </li>
    </ul>
    
    
    
    <ul class="list_type">
       
        <li>
            <section class="inputsec">
                <label>Vehicle</label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="FamilyType" >
                        <mat-option>
                            Select
                        </mat-option>
                        
                      
                    </mat-select>
                </mat-form-field>
            </section>
               
             </li>
        
    </ul>

    <ul class="list_type">
       
        <li class="">
            <section class="inputsec">
                <label>Type of Vehicle</label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="FamilyType" >
                        <mat-option>
                            Select
                        </mat-option>
                        
                      
                    </mat-select>
                </mat-form-field>
            </section>
        </li>
        <li class="">
            <section class="inputsec">
                <label>Count</label>
                <mat-form-field appearance="outline">
                    <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                </mat-form-field>
            </section>
        </li>
    </ul>

    <ul class="list_type">
       
        <li class="">
            <section class="inputsec">
                <label>Type of Vehicle</label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="FamilyType" >
                        <mat-option>
                            Select
                        </mat-option>
                        
                      
                    </mat-select>
                </mat-form-field>
            </section>
        </li>
        <li class="">
            <section class="inputsec">
                <label>Count</label>
                <mat-form-field appearance="outline">
                    <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                </mat-form-field>
            </section>
        </li>
    </ul>

    <ul class="list_type">
       
        <li class="">
            <section class="inputsec">
                <label>Furniture</label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="FamilyType" >
                        <mat-option>
                            Select
                        </mat-option>
                        
                      
                    </mat-select>
                </mat-form-field>
            </section>
        </li>
        <li>
            <section class="inputsec">
                <label>SmartPhone</label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="FamilyType" >
                        <mat-option>
                            Select
                        </mat-option>
                        
                      
                    </mat-select>
                </mat-form-field>
            </section>
               
             </li>
    </ul>
    
    
    
    <ul class="list_type">
       
        <li>
            <section class="inputsec">
                <label>Electronic items</label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="FamilyType" >
                        <mat-option>
                            Select
                        </mat-option>
                        
                      
                    </mat-select>
                </mat-form-field>
            </section>
               
             </li>
        
    </ul>
    
    
    
    <section class="btnswrapper text-center">
        <button type="submit" mat-raised-button class="fill_btn" colo="primary"
       >Save & Next</button>
    </section>
    </form>


   