.inputsec{ width: 100%; display: flex; flex-direction: column;}


.list_type{ display: flex; flex-wrap: wrap; padding-bottom: 10px;
    & li{ flex: 50%; padding-right: 10px;
    &:last-child{ padding-left: 10px; padding-right: 0;}

    & label{ color: #000;
        font-family: 'Noto Sans', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;     min-height: 46px;
        align-items: center;
        display: flex;
        line-height: normal; margin-bottom: 10px  ;}
    }

}

.fromicon{ position: absolute; right: 0px;
    top: 11px;}
.bglisttype{  border-radius: 10px; padding: 10px 0 10px 10px; & li{ flex:33%; & label{ min-height: 0; font-size: 12px; }}}