.inputsec{ width: 100%; display: flex; flex-direction: column;}


.list_type{ display: flex; flex-wrap: wrap; padding-bottom: 10px;
    & li{ flex: 50%; padding-right: 10px;
    &:last-child{ padding-left: 10px; padding-right: 0;}

    & label{ color: #000;
        font-family: 'Noto Sans', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;     min-height: 46px;
        align-items: center;
        display: flex;
        line-height: normal; margin-bottom: 10px  ;}
    }

}