<section class="pagebreadcrumb">
    <section class="contentwrap">
        <h3>Home > Help > Notification</h3>
    </section>

</section>
<section class="contentwrap contentwrapsmall">
    <section class="data-content whiteclr">

      


            <section class="notificationTitle">
           <h2>Notificaion</h2>     <ul><li>Mark as Read</li></ul>
            </section>


          <ul class="notifylist"><li>
            <p class="notifyDesc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
<p class="notifi_time">Just Now</p>
        </li> <li>
            <p class="notifyDesc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
<p class="notifi_time">Just Now</p>
        </li>
        <li>
            <p class="notifyDesc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
<p class="notifi_time">Just Now</p>
        </li>
        <li>
            <p class="notifyDesc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
<p class="notifi_time">Just Now</p>
        </li>
        <li>
            <p class="notifyDesc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
<p class="notifi_time">Just Now</p>
        </li>
        <li>
            <p class="notifyDesc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
<p class="notifi_time">Just Now</p>
        </li>
        <li>
            <p class="notifyDesc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
<p class="notifi_time">Just Now</p>
        </li>
    </ul>


    </section>
</section>