.notificationTitle{ display: flex; justify-content: space-between;}
.notifyDesc{
    color: #000;
font-family: Noto Sans;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.notifi_time{ display: block; color: rgba(0, 0, 0, 0.30);
    font-family: Noto Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;}
    .notifylist li{ border-bottom: 1px solid #F6F6F7;;}