<section class="detailsbox whiteclr marT20">
<ul class="list_type">
           
    <li>
<section class="inputsec">
    <label>Select</label>
    <mat-form-field appearance="outline">
        <mat-select>
            <mat-option>
                Select
            </mat-option>
            <mat-option [value]="'option1'">
                option1
            </mat-option>
            <mat-option [value]="'option2'">
                option2
            </mat-option>
        </mat-select>
    </mat-form-field>
</section>
</li>
<li>
    <section class="inputsec">
        <label>Guarantor’ Name</label>
        <mat-form-field appearance="outline">
            <input required matInput placeholder="" value="">
        </mat-form-field>
    </section>
</li>
<li>
    <section class="inputsec">
        <label>Date of Birth</label>
        <mat-form-field appearance="outline">
            <mat-select>
                <mat-option>
                    Select
                </mat-option>
                <mat-option [value]="'option1'">
                    option1
                </mat-option>
                <mat-option [value]="'option2'">
                    option2
                </mat-option>
            </mat-select>
        </mat-form-field>
    </section>
    </li>
    <li>
        <section class="inputsec">
            <label>Guarantor’ Age</label>
            
            <mat-form-field appearance="outline">
                <input required matInput  value="10000">
            </mat-form-field>
        </section>
        </li>

  
    <li>
        <section class="inputsec">
            <label>Gender</label>
            <mat-form-field appearance="outline">
                <mat-select>
                    <mat-option>
                        Select
                    </mat-option>
                    <mat-option [value]="'option1'">
                        option1
                    </mat-option>
                    <mat-option [value]="'option2'">
                        option2
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>
        </li>
  
    <li>
        <section class="inputsec">
            <label>Marital Status</label>
            <mat-form-field appearance="outline">
                <mat-select>
                    <mat-option>
                        Select
                    </mat-option>
                    <mat-option [value]="'option1'">
                        option1
                    </mat-option>
                    <mat-option [value]="'option2'">
                        option2
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>
        </li>

        <li>
            <section class="inputsec">
                <label>Spouse</label>
                <mat-form-field appearance="outline">
                    <input required matInput placeholder="Enter Name" value="">
                </mat-form-field>
            </section>
        </li>
        <li>
            <section class="inputsec">
                <label>Father</label>
                <mat-form-field appearance="outline">
                    <input required matInput placeholder="Enter Name" value="">
                </mat-form-field>
            </section>
        </li>
        <li>
            <section class="inputsec">
                <label>Mobile No</label>
                <mat-form-field appearance="outline">
                    <input required matInput placeholder="Enter Mobile" value="">
                </mat-form-field>
            </section>
        </li>

        <li class="insideotp"><a *ngIf="!otpverify" class="otplink" (click)="otppopup()">OTP</a>
        
            <a *ngIf="otpverify" class="checktxt">Verified</a>
        </li>

        <li>
            <section class="inputsec">
                <label>Primary KYC</label>
                <mat-form-field appearance="outline">
                    <input required matInput placeholder="Enter " value="">
                </mat-form-field>
            </section>
        </li>
        <li>
            <section class="inputsec">
                <label>KYC No</label>
                <mat-form-field appearance="outline">
                    <input required matInput placeholder="Enter " value="">
                </mat-form-field>
            </section>
        </li>

        <li>
            <section class="inputsec">
                <label>Present Address No</label>
                <mat-form-field appearance="outline">
                    <textarea matInput placeholder="Enter "></textarea>
                </mat-form-field>
            </section>
        </li>

       

</ul>  
</section>

             
<section class="btnscontainer marT30">
   <section> <button class="strokebtn"  mat-raised-button  >Back</button></section>
    <section><button class="filledbtn"  mat-raised-button  >Next</button></section>
</section>






<ng-template #otpdialog>
    <div mat-dialog-content>

       <section class="modelimg"> <img src="../../../../assets/images/mobile_ic.png" /></section>

        <section class="label-title"> Verify Mobile Number</section>
     

        <section class="inputsec">
            <label class="otplabel">OTP</label>

<section class="otpBlock">
    <section><input /></section> <section><input /></section> <section><input /></section> <section><input /></section> <section><input /></section> <section><input /></section>
</section>

            <!-- <mat-form-field appearance="outline">
                <input required matInput placeholder="Enter " value="">
            </mat-form-field> -->
        </section>
      
      
      
    </div>
    <div mat-dialog-actions  class="center fullbtns">
        <button mat-raised-button class="filledBtn" (click)="submitclose()">Submit</button>
        <button mat-stroked-button class="strokedBtn" (click)="close()">Close</button>
    </div>
</ng-template>

