<section class="pagebreadcrumb">
    <section class="contentwrap">
<h3>Home > New Application > LUC Check > Client List</h3>
</section>

</section>



<section class="contentwrap contentwrapsmall">
<section class="data-content">
    


<section class="whiteclr">


<section class="searchwrapper">
    <div><section class="centername"> <h2>Center</h2> <em class="uName">C1</em> </section></div>
<div>
<section><a (click)="gotosearch()"><em class="searchicon"></em>Search</a></section>

</div>
</section>

    <h2>Total Searched (23)</h2>
 
  <section class="detailsbox">
<ul class="detailsUL detailsUL3">
    <li><label>Applicant Name</label>
<span>Jai Prakash</span>
</li>
<li><label>Spouse</label>
    <span>Meena</span>
    </li>
    <li><label>Voter ID</label>
        <span>123452</span>
        </li>
        <li><label>Center Name</label>
            <span>C1</span>
            </li>

            <li><label>Group Name</label>
                <span>Group Name</span>
                </li>
               

</ul>

</section>


<section class="detailsbox">
    <ul class="detailsUL detailsUL3">
        <li><label>Applicant Name</label>
    <span>Jai Prakash</span>
    </li>
    <li><label>Spouse</label>
        <span>Meena</span>
        </li>
        <li><label>Voter ID</label>
            <span>123452</span>
            </li>
            <li><label>Center Name</label>
                <span>C1</span>
                </li>
    
                <li><label>Group Name</label>
                    <span>Group Name</span>
                    </li>
                   
    
    </ul>
    
    </section>

    
  <section class="detailsbox">
    <ul class="detailsUL detailsUL3">
        <li><label>Applicant Name</label>
    <span>Jai Prakash</span>
    </li>
    <li><label>Spouse</label>
        <span>Meena</span>
        </li>
        <li><label>Voter ID</label>
            <span>123452</span>
            </li>
            <li><label>Center Name</label>
                <span>C1</span>
                </li>
    
                <li><label>Group Name</label>
                    <span>Group Name</span>
                    </li>
                   
    
    </ul>
    
    </section>

</section>





<button class="searchBtn wid100p"  mat-raised-button color="primary"  >Proceed</button>
</section>

</section>