.sidenav img{ height: 30px;}
.sidenav li{ padding:12px 15px ; display: flex; justify-content: space-between; border-bottom: 1px solid rgba(0,0,0,.1);

    color: #000;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-items: center;
    & span:first-child{ display: flex; align-items: center;
    & span{ width:50px}
    }
}
.sidenav{ overflow: auto; max-height: calc(100vh - 60px);}
.usercard{ display: flex; padding-top: 20px; border-bottom: 1px solid rgba(0,0,0,.1);}
.userdetails{ display: flex; flex-direction: column; padding: 0px 30px 10px 20px; 
& .username{color: #000;
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;}
& .role{ color: #000;
    font-family: Noto Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;}
}