
<section class="sidebar">
    <section class="usercard">
        <section><span class="userimg"><img src="../../../assets/images/user-img.png" /></span>
        </section>
        <section class="userdetails"><label class="username">Vivek Sharma</label>
        <span class="role">Field Credit Officer</span>
        </section>
    </section>
<ul class="sidenav">
    <li (click)="gotopage('/applicationsearch')"><span><span><img src="../../../assets/images/application.png"/></span> New Application</span><span class="arrow"></span></li>
    <li (click)="gotopage('/lafcheck')"><span><span><img src="../../../assets/images/lafstatus.png"/></span> LAF Status</span><span class="arrow"></span></li>
    <li (click)="gotopage('/luccheck')"><span><span><img src="../../../assets/images/check-list.png"/></span> LUC Check</span><span class="arrow"></span></li>
    <li (click)="gotopage('/village')"><span><span><img src="../../../assets/images/village.png"/></span> Village Addition</span><span class="arrow"></span></li>
    <li (click)="gotopage('/cbrejection')"><span><span><img src="../../../assets/images/rejected.png"/></span> BRE Status Data</span><span class="arrow"></span></li>
    <li (click)="gotopage('/feelist')"><span><span><img src="../../../assets/images/fee.png"/></span> Fees and Charges</span><span class="arrow"></span></li>
    <li (click)="gotopage('/notification')"><span><span><img src="../../../assets/images/notifi-ic.svg"/></span> Notification</span><span class="arrow"></span></li>
    <li (click)="gotopage('/help')"><span><span><img src="../../../assets/images/help.svg"/></span> Help</span><span class="arrow"></span></li>
    <li (click)="gotopage('/changepassword')"><span><span><img src="../../../assets/images/changepwd.svg"/></span> Change Password</span><span class="arrow"></span></li>
   
</ul>
</section>