.btnswrapper{ text-align: center; justify-content: center; margin-top: 30px;
    & button{ min-width: 120px; margin: 0 10px;}
    }
    .addBtns{ border-radius: 10px;
        border: 1px solid #442477;}
        .detailsbox{     box-shadow: 1px 1px 6px 4px #e8e8e8;}