.flex-list{ display: flex; flex-wrap: wrap;
    & .cardwrap{ width:16.6%; padding: 10px;
    & .card{ border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.10);
        text-align: center;
        padding: 20px;
        height: 100%;
    
        & img { height: 60px; margin-bottom: 20px;}
        & h2{ color: #000;
            text-align: center;
            font-family: Noto Sans;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal; margin: 0; padding: 0;}
    }
    }
    }
    
    .cardwrap2{
        width:16.6%; padding: 10px 5px;
    .card2{ border-radius: 10px;
        border: 2px solid rgba(68, 36, 119, 0.20);
        background: #F9F7FC;
        text-align: left;
        padding: 20px 10px;
        height: 100%;
        & h3{color: #000;
            font-family: Noto Sans;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;padding: 0; margin: 0;
            line-height: 29px; /* 207.143% */}
        & .count{color: #442477;
            font-family: Noto Sans;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal; padding: 5px 0; margin: 0;}
        & .amount{ color: rgba(0, 0, 0, 0.65);
            font-family: Noto Sans;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding: 0; margin: 0;
        & em{
            color: #442477;
    font-family: Noto Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
        }
        }
    }
    }
    
    .white-box{ border-radius: 10px;
        background: #FFF; margin: 0 0 20px;
        box-shadow: 0px 12px 50px 0px rgba(0, 0, 0, 0.04); padding: 10px 20px;}
        .box-header-dashboard{ display: flex; justify-content: space-between;
        & h2{}
        & ul{ display: flex; & li { padding: 0 10px; line-height: 1; position: relative;
             &:after{ content:''; position: absolute; width: 1px; top:0; bottom: 0; background: #222; right:0; }
    &:last-child:after{ display: none;}
    }}
        }
        .dashboardcontainer{ max-width: 1400px; padding: 0 30px;}
        .flex-list .cardwrap{
            &:first-child{ padding-left: 0;}
            &:last-child{ padding-right: 0;}
        }
    
        .dashboardtitle{ border-radius: 10px; margin-top: 30px; flex-wrap: wrap;    
            background: #FFF; padding: 10px; align-items: center;
            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.07); display: flex; justify-content: space-between;}
    .leftTitle{
    display: flex;  align-items: flex-start;
        & h2{    
            color: #000;
    font-family: Noto Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
            line-height: 1;
            margin-right: 10px;}
    }
    
           .risk { border-radius: 6px;
                padding: 0 10px; }
    
                .rightdashboard ul {
                    display: flex;
        flex-direction: column;
        align-items: end;
                    
                    & li{
                    display: flex; margin-bottom: 10px;
                    & label{
                        color: #000;
    font-family: Noto Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
                    }
                    & span{
                        color: #000;
    font-family: Noto Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
                    }
                }
            }
    
    
            .icon-container {
                position: relative; display: flex; min-height: 60px;  overflow: hidden;
            }
            #datepicker {
                top: 12px;
                
                opacity: 0;
                transform: translateY(-10px);
                width:0; overflow: hidden;
                transition: opacity 0.3s, right 0.3s;
                position: absolute;
        
        right: -300px;
            }
            
            .icon-container.active { width: 300px; & .dateicon { display: none;}}
             .icon-container.active  #datepicker {
                opacity: 1;
                width: 300px;
                opacity: 1;
                right: 0;
            }
            
            .hidden {
                display: none;
            }
    .medium{ background: #FA9D12; color:#fff;}
            .high{ background:#FF5050; color: #fff;}



            @media only screen and (max-width: 1024px) and (min-width:768px) {

                .flex-list 
                {
                    & .cardwrap, & .cardwrap2{ width:33.33%;
                        padding: 5px 5px!important;
                    }
                }

            }

            
            @media only screen and (max-width: 768px){
.dashboardcontainer{     padding: 0 10px;}
                .flex-list 
                {
                    & .cardwrap, & .cardwrap2{ width:50%;
                        padding: 5px 5px!important;
                    }
                }
                .box-header-dashboard{ flex-wrap: wrap;}
            }