<div>
  <button (click)="SelectType()">Select</button>
  <div *ngIf="selecttypepopp">
    <div *ngFor="let imageType of imageTypes">
      <label>
        <input type="radio" [(ngModel)]="selectedImageType" [value]="imageType.value"
          (change)="fileChangeEvent($event, imageType.value)" />
        {{ imageType.label }}
      </label>
      <div *ngIf="selectedImageType === 'VF'">
      <a href="">  <label for="imageUpload">
          Front Image
          <input type="file" (change)="fileChangeEvent($event, 'VF')" id="imageUpload" style="display: none" />
        </label>
      </a>
        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="10/15"
          [resizeToWidth]="250" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
        <img [src]="croppedImage" />
      </div>
      <div *ngIf="selectedImageType === 'VB'">
        <label for="imageUpload">
          Back Image
          <input type="file" (change)="fileChangeEvent($event, 'VB')" id="imageUpload" style="display: none" />
        </label>
        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="10/15"
          [resizeToWidth]="250" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
        <img [src]="croppedImage" />
      </div>
    </div>
  </div>
  <div>


    <!-- <div *ngIf="selectedImageType === 'VB'">
      <label for="imageUpload1">
          Back Image
          <input type="file" (change)="fileChangeEvent($event, 'VB')" id="imageUpload1" style="display: none" />
      </label>
      <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="10/15"
          [resizeToWidth]="250" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
      <img selectedImageType="VB" [src]="croppedImage" />
  </div> -->

    <!-- <img selectedImageType='VF' [src]="croppedImage" />
                <img selectedImageType='VB' [src]="croppedImage" /> -->


    <div *ngIf="showCroppedImage">
      <button (click)="cancelCrop()">Cancel</button>
      <button (click)="confirmCrop(selectedImageType)">Confirm</button>
    </div>
    <div class="card" *ngIf="selectedImageType === 'VF'">
      <h3> Front Image</h3>
      <!-- <h3>Name : {{ response['name'] }}</h3>
      <h3>Voter ID : {{ voterid }}</h3>
      <h3>Gender : {{ gender }}</h3>
      <h3>Relation : {{ relation }}</h3>
      <h3>Date of Birth : {{ dob }}</h3> -->
      <label>Name : {{ response['name'] }}</label>
      <label>VoterId : {{ response['voterid'] }}</label>
      <label>Gender : {{ response['gender'] }}</label>
      <label>Relation : {{ response['relation'] }}</label>
      <label>Date of Birth  : {{ response['dob'] }}</label>
    </div>
    <div  *ngIf="selectedImageType === 'VB'">
      <h3> Back Image</h3>
      <!-- {{ response.voterid}} -->
                        <label>Address : {{ response['address']}}</label>
                        <label>pin : {{response['pin'] }}</label>
                        <label>district : {{ response['district']}}</label>
                        <label>houseNumber : {{ response['houseNumber'] }}</label>
                        <label>landmark : {{response['landmark']}}</label>
                        <label>line1: {{ response['line1'] }}</label>
                        <label>line2 : {{response ['line2'] }}</label>
                        <label>locality : {{ response['locality']}}</label>
                        <label>pin : {{ response['pin'] }}</label>
                        <label>state : {{ response['state'] }}</label>
                        <label>street : {{ response['street']}}</label>
                        <label>DOB : {{ response['dob'] }}</label>

    </div>
  </div>
</div>
