
<form [formGroup]="form">
    <section class="pagebreadcrumb">
        <section class="contentwrap">
            <h3>Home > New Application > Search Client > Client Details</h3>
        </section>
    
    </section>
    <section class="contentwrap contentwrapsmall">
        <section class="data-content whiteclr">
            <ul class="tab_container">
                <li  [ngClass]="{'current': hhmonthly, 'filled': (hhexpense || hhliabilty || hhLoan) }" (click)="clickDetails('a')">HH Monthly Income</li>
                <li #BMexpensesButton [ngClass]="{'current': hhexpense, 'filled': (hhliabilty || hhLoan)}" class="" (click)="clickDetails('b')">HH Expenses</li>
                <li #BMLiabilityButton [ngClass]="{'current': hhliabilty, 'filled': (hhLoan)}" class="" (click)="clickDetails('c')">HH Liability</li>
                <li  #BMLoanEligibilityButton [ngClass]="{'current': hhLoan}" class="" (click)="clickDetails('d')">Loan Eligibility</li>
            </ul>
    
            <ng-container *ngIf="hhmonthly">
            
    
                <mat-accordion multi>
                    <mat-expansion-panel>   
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Applicant Name
                            </mat-panel-title>
    
                        </mat-expansion-panel-header>
    <!-- <app-cashflowforms  (cashFlowData)="saveCashFlowData($event)"></app-cashflowforms> -->
    <!-- <app-bmcashflowforms  (cashFlowData)="applicantsaveCashFlowData($event)"></app-bmcashflowforms> -->
  <section *ngIf =!hide >
    <ul class="list_type bglisttype ">
        <li>
            <section class="inputsec">
                <label>Type Of Source</label>
                <section>Business</section>
                
            </section>
            </li>
            <li>
                <section class="inputsec">
                    <label>Monthly Income</label>
                    <section>30,000</section>
                    
                </section>
                </li>
                <li>
                    <section class="inputsec">
                        <label>Income Frequency</label>
                        <section>Monthly</section>
                        
                    </section>
                    </li>
                    
      </ul>

      <ul class="list_type bglisttype ">
        <li>
            <section class="inputsec">
                <label>Avg Daily Transaction</label>
                <section>1000</section>
                
            </section>
            </li>
            <li>
                <section class="inputsec">
                    <label>Avg Daily Exp</label>
                    <section>500</section>
                    
                </section>
                </li>
                <li>
                    <section class="inputsec">
                        <label>No Of Days In a Month</label>
                        <section>30</section>
                        
                    </section>
                    </li>
                    
      </ul>

      <ul class="list_type bglisttype ">
        <li>
            <section class="inputsec">
                <label>Avg Net Profit Daily</label>
                <section>500</section>
                
            </section>
            </li>
            
                    
      </ul>

      <ul class="list_type bglisttype ">
        <li>
            <section class="inputsec">
                <label>Total Income (Monthly)</label>
                <section>55,000</section>
                
            </section>
            </li>
            <li>
                <section class="inputsec">
                    <label>Total Income (Annually)</label>
                    <section>660,000</section>
                    
                </section>
                </li>
      </ul>
    </section>

    <section *ngIf =hide>
       
        <ul class="list_type">
            <li>
           <section class="inputsec">
                    <label>Name</label>
                    <mat-form-field appearance="outline">
                        <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                    </mat-form-field>
                </section>
              
            </li>
            <li class="">
                <section class="inputsec">
                    <label>Relationship</label>
                    <mat-form-field appearance="outline">
                        <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                    </mat-form-field>
                </section>
            </li>
        </ul>
        
        
        <ul class="list_type">
            <li class="">
                <section class="inputsec">
                    <label>Type Of Source</label>
                    <mat-form-field appearance="outline">
                        <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                    </mat-form-field>
                </section>
            </li>
            <li class="">
                <section class="inputsec">
                    <label>Avg Daily Exp.</label>
                    <mat-form-field appearance="outline">
                        <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                    </mat-form-field>
                </section>
            </li>
        </ul>
        
        
        
        <ul class="list_type">
           
            <li class="">
                <section class="inputsec">
                    <label>Income Frequency</label>
                    <mat-form-field appearance="outline">
                        <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                    </mat-form-field>
                </section>
            </li>
            <li>
                <section class="inputsec">
                    <label>Avg Daily Transaction</label>
                    <mat-form-field appearance="outline">
                        <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                    </mat-form-field>
                </section>
                   
                 </li>
        </ul>
        
        
        
        <ul class="list_type">
           
            <li>
                <section class="inputsec">
                    <label>No Of Days In a Month</label>
                    <mat-form-field appearance="outline">
                        <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                    </mat-form-field>
                </section>
                   
                 </li>
                 <li class="">
                    <section class="inputsec">
                        <label>Avg Net Profit Daily</label>
                        <mat-form-field appearance="outline">
                            <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                        </mat-form-field>
                    </section>
                </li>
            
        </ul>
    
        <ul class="list_type">
           
            
            <li>
                <section class="inputsec">
                    <label>Monthly Income</label>
                    <mat-form-field appearance="outline">
                        <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                    </mat-form-field>
                </section>
                   
                 </li>
                 <li>
                    <section style="text-align: right; margin: 30px 0;">
                        <button class="loginBtn"  mat-raised-button color="primary" (click)="addmember = !addmember">Add More Income +</button>
                    </section>
                </li>
        </ul>
        <ng-container *ngIf="addmember">
        
      <section class="smalltitlewrap"><div>  <h2>Income 2</h2></div> <button class="removeBtn"  mat-raised-button  (click)="addmember = !addmember"><mat-icon>close_outlined</mat-icon>Remove Income</button></section>
      <ul class="list_type">
        <li>
       <section class="inputsec">
                <label>Name</label>
                <mat-form-field appearance="outline">
                    <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                </mat-form-field>
            </section>
          
        </li>
        <li class="">
            <section class="inputsec">
                <label>Relationship</label>
                <mat-form-field appearance="outline">
                    <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                </mat-form-field>
            </section>
        </li>
    </ul>
    
    
    <ul class="list_type">
        <li class="">
            <section class="inputsec">
                <label>Type Of Source</label>
                <mat-form-field appearance="outline">
                    <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                </mat-form-field>
            </section>
        </li>
        <li class="">
            <section class="inputsec">
                <label>Avg Daily Exp.</label>
                <mat-form-field appearance="outline">
                    <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                </mat-form-field>
            </section>
        </li>
    </ul>
    
    
    
    <ul class="list_type">
       
        <li class="">
            <section class="inputsec">
                <label>Income Frequency</label>
                <mat-form-field appearance="outline">
                    <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                </mat-form-field>
            </section>
        </li>
        <li>
            <section class="inputsec">
                <label>Avg Daily Transaction</label>
                <mat-form-field appearance="outline">
                    <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                </mat-form-field>
            </section>
               
             </li>
    </ul>
    
    
    
    <ul class="list_type">
       
        <li>
            <section class="inputsec">
                <label>No Of Days In a Month</label>
                <mat-form-field appearance="outline">
                    <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                </mat-form-field>
            </section>
               
             </li>
             <li class="">
                <section class="inputsec">
                    <label>Avg Net Profit Daily</label>
                    <mat-form-field appearance="outline">
                        <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                    </mat-form-field>
                </section>
            </li>
        
    </ul>

    <ul class="list_type">
       
        
        <li>
            <section class="inputsec">
                <label>Monthly Income</label>
                <mat-form-field appearance="outline">
                        <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                    </mat-form-field>
            </section>
               
             </li>
             </ul>
        <!-- <app-cashflowforms (cashFlowData)="saveCashFlowData($event)"></app-cashflowforms> -->
        <!-- <section class="smalltitlewrap"><div>  <h2>Income 2</h2></div> <button class="removeBtn"  mat-raised-button  (click)="addmember = !addmember"><mat-icon>close_outlined</mat-icon>Remove Income</button></section> -->
        <!-- <app-bmcashflowforms (cashFlowData)="addmoresaveCashFlowData($event)"></app-bmcashflowforms> -->
    </ng-container>
        

        <ul class="list_type bglisttype ">
            <li>
                <section class="inputsec">
                    <label>Total Income (Monthly)</label>
                    <section>55,000</section>
                    
                </section>
                </li>
                <li>
                    <section class="inputsec">
                        <label>Total Income (Annually)</label>
                        <section>660,000</section>
                        
                    </section>
                    </li>
                   
          </ul>
        
        
        
    </section>

    

      



                       
    
                      
    
    
                        </mat-expansion-panel>
    
    </mat-accordion>
    
    
                        <mat-accordion multi>
    
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Earning Member 2
                                </mat-panel-title>
        
                            </mat-expansion-panel-header>
<section  *ngIf =!hide>
                            <ul class="list_type bglisttype ">
                                <li>
                                    <section class="inputsec">
                                        <label>Type Of Source</label>
                                        <section>Business</section>
                                        
                                    </section >
                                    </li>
                                    <li>
                                        <section class="inputsec">
                                            <label>Monthly Income</label>
                                            <section>30,000</section>
                                            
                                        </section>
                                        </li>
                                        <li>
                                            <section class="inputsec">
                                                <label>Income Frequency</label>
                                                <section>Monthly</section>
                                                
                                            </section>
                                            </li>
                                            
                              </ul>
                        
                              <ul class="list_type bglisttype ">
                                <li>
                                    <section class="inputsec">
                                        <label>Avg Daily Transaction</label>
                                        <section>1000</section>
                                        
                                    </section>
                                    </li>
                                    <li>
                                        <section class="inputsec">
                                            <label>Avg Daily Exp</label>
                                            <section>500</section>
                                            
                                        </section>
                                        </li>
                                        <li>
                                            <section class="inputsec">
                                                <label>No Of Days In a Month</label>
                                                <section>30</section>
                                                
                                            </section>
                                            </li>
                                            
                              </ul>
                        
                              <ul class="list_type bglisttype ">
                                <li>
                                    <section class="inputsec">
                                        <label>Avg Net Profit Daily</label>
                                        <section>500</section>
                                        
                                    </section>
                                    </li>
                                    
                                            
                              </ul>
                        
                              <ul class="list_type bglisttype ">
                                <li>
                                    <section class="inputsec">
                                        <label>Total Income (Monthly)</label>
                                        <section>55,000</section>
                                        
                                    </section>
                                    </li>
                                    <li>
                                        <section class="inputsec">
                                            <label>Total Income (Annually)</label>
                                            <section>660,000</section>
                                            
                                        </section>
                                        </li>
                              </ul>

                              <ul class="list_type bglisttype ">
                                <li>
                                    <section class="inputsec">
                                        <label>Total HouseHold Income (Monthly)</label>
                                        <section>110,000</section>
                                        
                                    </section>
                                    </li>
                                    <li>
                                        <section class="inputsec">
                                            <label>Total HouseHold Income(Annually)</label>
                                            <section>110,000</section>
                                            
                                        </section>
                                        </li>
                              </ul>
                            </section>

                            <section *ngIf =hide>
       
                                <ul class="list_type">
                                    <li>
                                   <section class="inputsec">
                                            <label>Name</label>
                                            <mat-form-field appearance="outline">
                                                <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                                            </mat-form-field>
                                        </section>
                                      
                                    </li>
                                    <li class="">
                                        <section class="inputsec">
                                            <label>Relationship</label>
                                            <mat-form-field appearance="outline">
                                                <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                                            </mat-form-field>
                                        </section>
                                    </li>
                                </ul>
                                
                                
                                <ul class="list_type">
                                    <li class="">
                                        <section class="inputsec">
                                            <label>Type Of Source</label>
                                            <mat-form-field appearance="outline">
                                                <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                                            </mat-form-field>
                                        </section>
                                    </li>
                                    <li class="">
                                        <section class="inputsec">
                                            <label>Avg Daily Exp.</label>
                                            <mat-form-field appearance="outline">
                                                <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                                            </mat-form-field>
                                        </section>
                                    </li>
                                </ul>
                                
                                
                                
                                <ul class="list_type">
                                   
                                    <li class="">
                                        <section class="inputsec">
                                            <label>Income Frequency</label>
                                            <mat-form-field appearance="outline">
                                                <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                                            </mat-form-field>
                                        </section>
                                    </li>
                                    <li>
                                        <section class="inputsec">
                                            <label>Avg Daily Transaction</label>
                                            <mat-form-field appearance="outline">
                                                <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                                            </mat-form-field>
                                        </section>
                                           
                                         </li>
                                </ul>
                                
                                
                                
                                <ul class="list_type">
                                   
                                    <li>
                                        <section class="inputsec">
                                            <label>No Of Days In a Month</label>
                                            <mat-form-field appearance="outline">
                                                <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                                            </mat-form-field>
                                        </section>
                                           
                                         </li>
                                         <li class="">
                                            <section class="inputsec">
                                                <label>Avg Net Profit Daily</label>
                                                <mat-form-field appearance="outline">
                                                    <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                                                </mat-form-field>
                                            </section>
                                        </li>
                                    
                                </ul>
                            
                                <ul class="list_type">
                                   
                                    
                                    <li>
                                        <section class="inputsec">
                                            <label>Monthly Income</label>
                                            <mat-form-field appearance="outline">
                                                <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                                            </mat-form-field>
                                        </section>
                                           
                                         
                                         </li>
                 <li>
                    <section style="text-align: right; margin: 30px 0;">
                        <button class="loginBtn"  mat-raised-button color="primary" (click)="addmember1 = !addmember1">Add More Income +</button>
                    </section>
                </li>
        </ul>
        <ng-container *ngIf="addmember1">
        
      <section class="smalltitlewrap"><div>  <h2>Income 2</h2></div> <button class="removeBtn"  mat-raised-button  (click)="addmember1 = !addmember1"><mat-icon>close_outlined</mat-icon>Remove Income</button></section>
      <ul class="list_type">
        <li>
       <section class="inputsec">
                <label>Name</label>
                <mat-form-field appearance="outline">
                    <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                </mat-form-field>
            </section>
          
        </li>
        <li class="">
            <section class="inputsec">
                <label>Relationship</label>
                <mat-form-field appearance="outline">
                    <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                </mat-form-field>
            </section>
        </li>
    </ul>
    
    
    <ul class="list_type">
        <li class="">
            <section class="inputsec">
                <label>Type Of Source</label>
                <mat-form-field appearance="outline">
                    <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                </mat-form-field>
            </section>
        </li>
        <li class="">
            <section class="inputsec">
                <label>Avg Daily Exp.</label>
                <mat-form-field appearance="outline">
                    <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                </mat-form-field>
            </section>
        </li>
    </ul>
    
    
    
    <ul class="list_type">
       
        <li class="">
            <section class="inputsec">
                <label>Income Frequency</label>
                <mat-form-field appearance="outline">
                    <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                </mat-form-field>
            </section>
        </li>
        <li>
            <section class="inputsec">
                <label>Avg Daily Transaction</label>
                <mat-form-field appearance="outline">
                    <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                </mat-form-field>
            </section>
               
             </li>
    </ul>
    
    
    
    <ul class="list_type">
       
        <li>
            <section class="inputsec">
                <label>No Of Days In a Month</label>
                <mat-form-field appearance="outline">
                    <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                </mat-form-field>
            </section>
               
             </li>
             <li class="">
                <section class="inputsec">
                    <label>Avg Net Profit Daily</label>
                    <mat-form-field appearance="outline">
                        <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                    </mat-form-field>
                </section>
            </li>
        
    </ul>

    <ul class="list_type">
       
        
        <li>
            <section class="inputsec">
                <label>Monthly Income</label>
                <mat-form-field appearance="outline">
                    <input required matInput placeholder="Enter" formControlName="NonEaringMembers" >
                </mat-form-field>
            </section>
               
             </li>
             </ul>
        <!-- <app-cashflowforms (cashFlowData)="saveCashFlowData($event)"></app-cashflowforms> -->
        <!-- <section class="smalltitlewrap"><div>  <h2>Income 2</h2></div> <button class="removeBtn"  mat-raised-button  (click)="addmember = !addmember"><mat-icon>close_outlined</mat-icon>Remove Income</button></section> -->
        <!-- <app-bmcashflowforms (cashFlowData)="addmoresaveCashFlowData($event)"></app-bmcashflowforms> -->
    </ng-container>
                                
                                
                        
                                <ul class="list_type bglisttype ">
                                    <li>
                                        <section class="inputsec">
                                            <label>Total Income (Monthly)</label>
                                            <section>55,000</section>
                                            
                                        </section>
                                        </li>
                                        <li>
                                            <section class="inputsec">
                                                <label>Total Income (Annually)</label>
                                                <section>660,000</section>
                                                
                                            </section>
                                            </li>
                                  </ul>

                                  <ul class="list_type bglisttype ">
                                    <li>
                                        <section class="inputsec">
                                            <label>Total HouseHold Income (Monthly)</label>
                                            <section>110,000</section>
                                            
                                        </section>
                                        </li>
                                        <li>
                                            <section class="inputsec">
                                                <label>Total HouseHold Income(Annually)</label>
                                                <section>110,000</section>
                                                
                                            </section>
                                            </li>
                                  </ul>
                                
                                
                                
                            </section>

                            


        
                            
                            </mat-expansion-panel>
    
                        </mat-accordion>

                        <section style="text-align: right; margin: 30px 0;">
                            <button class="loginBtn"  mat-raised-button color="primary" (click)="hide = !hide">Update Details</button>
                        </section>
    <section style="text-align: center; margin-top: 30px;">
        <button class="loginBtn"  mat-raised-button color="primary" (click)="saveCashFlowData(form)">Save & next</button>
    </section>
        </ng-container>
    
        <ng-container *ngIf="hhexpense">
    <app-bmbmcashflow-hhexpenses (BMhhexpences)="BMhhexpencesSave()"></app-bmbmcashflow-hhexpenses>
            </ng-container>
    
    
            <ng-container *ngIf="hhliabilty">
                <app-bmbmcashflow-hhliablity  (BMhhliabilty)="BMhhliabiltySave()"></app-bmbmcashflow-hhliablity>
                        </ng-container>
                
                        <ng-container *ngIf="hhLoan">
                            <app-bmbmcashflow-hhloan></app-bmbmcashflow-hhloan>
                                    </ng-container>
        </section>
    
    </section>
    </form>
    
    
    <ng-template #reasondialog>
        <div mat-dialog-content>
    
           <section class="modelimg"> <img src="../../../../assets/images/newcenter.png" /></section>
    
            <section class="label-center"> Add New Center</section>
            <section class="inputsec">
                <label>Center Meeting Day</label>
                <mat-form-field appearance="outline">
                    <mat-select>
                        <mat-option>
                            Select
                        </mat-option>
                        <mat-option [value]="'option1'">
                            option1
                        </mat-option>
                        <mat-option [value]="'option2'">
                            option2
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </section>
          
          
            <section class="inputsec">
                <label>Center Meeting Week</label>
                <mat-form-field appearance="outline">
                    <mat-select>
                        <mat-option>
                            Select
                        </mat-option>
                        <mat-option [value]="'option1'">
                            option1
                        </mat-option>
                        <mat-option [value]="'option2'">
                            option2
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </section>
        </div>
        <div mat-dialog-actions class="center">
            <button mat-raised-button class="filledBtn" (click)="onNoClick()">Add</button>
            <button mat-stroked-button class="strokedBtn" (click)="onNoClick()">Cancel</button>
        </div>
    </ng-template>
    
    
    
    <ng-template #enlargedialog>
    
    
        <div mat-dialog-content>
            <img src="../../../../assets/images/img1.jpg" style="width:500px" />
        </div>
        <div mat-dialog-actions class="center">
    
            <button mat-stroked-button class="strokedBtn" (click)="close()">Close</button>
        </div>
    </ng-template>