<section class="pagebreadcrumb">
    <section class="contentwrap">
        <h3>Home >  Village Add Request</h3>
    </section>

</section>
<section class="contentwrap contentwrapsmall">
    <section class="data-content whiteclr">

      


            <section class="locationget">
          Get Location
            </section>


            <section class="detailsbox whiteclr">
                <ul class="detailsUL">
                    <li><label>Latitude</label>
                        <span>27.2046° N, </span>
                    </li>

                    <li><label>Longitude
                    </label>
                        <span>77.4977° E</span>
                    </li>

                    <li><label>Distance from Branch</label>
                        <span>10 KM</span>
                    </li>

                 


                </ul>
                <section class="btnwrap">
                 

                    <button class="searchBtn btns filledBtns " mat-raised-button color="primary" (click)="warningPopup()" >Proceed</button>
                    


                </section>
            </section>
          

    </section>
</section>