<section class="pagebreadcrumb">
    <section class="contentwrap">
        <h3>Home > Help > FAQ</h3>
    </section>

</section>
<section class="contentwrap contentwrapsmall">
    <section class="data-content whiteclr">

        <mat-accordion multi>
            <mat-expansion-panel *ngFor="let faq of FaqReqData">
                <mat-expansion-panel-header>
                 
                    <mat-panel-title>
                        {{faq.Title}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
              <section class="faqdesc"> {{faq.description}}</section>
            </mat-expansion-panel>
           







        </mat-accordion>


    </section>
</section>