<section class="pagebreadcrumb">
    <section class="contentwrap">
<h3>Home > New Application > Search Client > Client Details</h3>
</section>

</section>
<section class="contentwrap">
<section class="data-content">
    
<h3>Client details found!</h3>

<section class="whiteclr box-check">
    
   <section class="checkwrap">
    <mat-checkbox color="primary"></mat-checkbox>
   </section> 
  <section class="detailsbox">
<ul class="detailsUL">
    <li><label>Client Name</label>
<span>Jai Prakash</span>
</li>
<li><label>Relationship</label>
    <span>Self</span>
    </li>
    <li><label>PKYC ID</label>
        <span>123452</span>
        </li>
        <li><label>Marital Status</label>
            <span>Married</span>
            </li>

            <li><label>OCR KYC Profile</label>
                <span>Yes</span>
                </li>
                <li><label>Current Loan Status</label>
                    <span>Active</span>
                    </li>
                    <li><label>Village Name</label>
                        <span>Village One</span>
                        </li>

</ul>
<section class="text-right">
<a class="textBtn viewicbtn">View Household Details</a>
</section>
</section>

</section>



<section class="whiteclr box-check">
    
    <section class="checkwrap">
     <mat-checkbox color="primary"></mat-checkbox>
    </section> 
   <section class="detailsbox">
 <ul class="detailsUL">
     <li><label>Earning Member</label>
 <span>Jai Prakash</span>
 </li>
 <li><label>Relationship</label>
     <span>Self</span>
     </li>
     <li><label>PKYC ID</label>
         <span>123452</span>
         </li>
         <li><label>Marital Status</label>
             <span>Married</span>
             </li>
 
             <li><label>OCR KYC Profile</label>
                 <span>Yes</span>
                 </li>
                 <li><label>Current Loan Status</label>
                     <span>Active</span>
                     </li>
                     <li><label>Village Name</label>
                         <span>Village One</span>
                         </li>
 
 </ul>
 <section class="text-right">
 <a class="textBtn linkicbtn" (click)="unlink()">Click Here</a>
 </section>
 </section>
 
 </section>



<button class="searchBtn wid100p"  mat-raised-button color="primary" (click)="newformUrl()" >Proceed</button>
</section>

</section>