<section class="pagebreadcrumb">
    <section class="contentwrap">
        <h3>Home > New Application  > GST Details</h3>
    </section>

</section>
<section class="contentwrap contentwrapsmall">
    <section class="data-content whiteclr">

<section class="detailsbox whiteclr marT20">
    <ul class="list_type">
        <li>  <section class="inputsec">
            <label>Company Knowledge</label>
            <mat-form-field appearance="outline">
                <mat-select>
                    <mat-option>
                        Select
                    </mat-option>
                    <mat-option [value]="'option1'">
                        option1
                    </mat-option>
                    <mat-option [value]="'option2'">
                        option2
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>
        </li>   
        <li>  <section class="inputsec">
            <label>Group Orientation and Responsibilitye</label>
            <mat-form-field appearance="outline">
                <mat-select>
                    <mat-option>
                        Select
                    </mat-option>
                    <mat-option [value]="'option1'">
                        option1
                    </mat-option>
                    <mat-option [value]="'option2'">
                        option2
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>
        </li>
        <li>  <section class="inputsec">
            <label>Product Knowledge</label>
            <mat-form-field appearance="outline">
                <mat-select>
                    <mat-option>
                        Select
                    </mat-option>
                    <mat-option [value]="'option1'">
                        option1
                    </mat-option>
                    <mat-option [value]="'option2'">
                        option2
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>
        </li>
        <li>  <section class="inputsec">
            <label>Grievance Redressal Mechanism</label>
            <mat-form-field appearance="outline">
                <mat-select>
                    <mat-option>
                        Select
                    </mat-option>
                    <mat-option [value]="'option1'">
                        option1
                    </mat-option>
                    <mat-option [value]="'option2'">
                        option2
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>
        </li>
        <li>  <section class="inputsec">
            <label>Loan Recovery Process</label>
            <mat-form-field appearance="outline">
                <mat-select>
                    <mat-option>
                        Select
                    </mat-option>
                    <mat-option [value]="'option1'">
                        option1
                    </mat-option>
                    <mat-option [value]="'option2'">
                        option2
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>
        </li>
        <li>  <section class="inputsec">
            <label>Insurance Knowledge</label>
            <mat-form-field appearance="outline">
                <mat-select>
                    <mat-option>
                        Select
                    </mat-option>
                    <mat-option [value]="'option1'">
                        option1
                    </mat-option>
                    <mat-option [value]="'option2'">
                        option2
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>
        </li>
        <li>  <section class="inputsec">
            <label>Awareness on Financial Literacy</label>
            <mat-form-field appearance="outline">
                <mat-select>
                    <mat-option>
                        Select
                    </mat-option>
                    <mat-option [value]="'option1'">
                        option1
                    </mat-option>
                    <mat-option [value]="'option2'">
                        option2
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>
        </li>    
        <li>  <section class="inputsec">
            <label>Awareness about Financial Malpractices</label>
            <mat-form-field appearance="outline">
                <mat-select>
                    <mat-option>
                        Select
                    </mat-option>
                    <mat-option [value]="'option1'">
                        option1
                    </mat-option>
                    <mat-option [value]="'option2'">
                        option2
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>
        </li>  <li>  <section class="inputsec">
            <label>Impact of timely loan repayment in credit bureau</label>
            <mat-form-field appearance="outline">
                <mat-select>
                    <mat-option>
                        Select
                    </mat-option>
                    <mat-option [value]="'option1'">
                        option1
                    </mat-option>
                    <mat-option [value]="'option2'">
                        option2
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>
        </li> 
      </ul>
    
    
<section class="boxsection">
<h2 class="bgtitle">FCO Details</h2>
  <section class="inbox">
    <ul class="list_type bglisttype ">
        <li>
            <section class="inputsec">
                <label>FCO Name</label>
                <section>v Sharma</section>
                
            </section>
            </li>
            <li>
                <section class="inputsec">
                    <label>FCO Employee ID</label>
                    <section>765498</section>
                    
                </section>
                </li>
              
    
      </ul>

      <ul class="list_type ">
        <li>  <section class="inputsec">
            <label>FCO Remarks</label>
            <mat-form-field appearance="outline">
                <textarea matInput ></textarea>
            </mat-form-field>
        </section>
        </li>
      </ul>
  </section>
    </section>


    </section>
    
                 
    <section class="btnscontainer marT30">
       
        <section><button class="filledbtn"  mat-raised-button  >Next</button></section>
    </section>
    
    </section>
    </section>
    
    
    