<section class="pagebreadcrumb">
    <section class="contentwrap">
        <h3>Home > New Application > Search Client > Client Details</h3>
    </section>

</section>
<section class="contentwrap contentwrapsmall">
    <section class="data-content">



        <section class="whiteclr">



            <ul class="list_type">
    <li>
        <section class="inputsec">
            <label>Search Client By</label>
            <mat-form-field appearance="outline">
                <mat-select>
                    <mat-option>
                        Select
                    </mat-option>
                    <mat-option [value]="'option1'">
                        option1
                    </mat-option>
                    <mat-option [value]="'option2'">
                        option2
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>
        </li>
        <li>
            <section class="inputsec">
                <label>Enter Details</label>
                <mat-form-field appearance="outline">
                    <input required matInput placeholder="Enter Details" >
                </mat-form-field>
            </section>
        </li>
</ul>
<section class="searchBtnsWrap">

<button class="searchBtn  searchwrapBtns" mat-raised-button color="primary">Search</button></section>



            <h3>All CB Data</h3>
            <section class="detailsbox whiteclr">
                <ul class="detailsUL">
                    <li><label>Client Name</label>
                        <span>Jai Prakash</span>
                    </li>

                    <li><label>Voter Id</label>
                        <span>4567899</span>
                    </li>

                    <li><label>CB Status</label>
                        <span>Active</span>
                    </li>

                    <li><label>Rejection Reasontus</label>
                        <span>Reason </span>
                    </li>

                    <li><label>Status</label>
                        <span>Reject</span>
                    </li>


                </ul>
                <section class="">
                    <a class="textBtn viewicbtn" (click)="cbReport()">View CB Report</a>

                    <button class="searchBtn btns" mat-raised-button color="primary" (click)="reason()">Raise Request</button>
                    <button class="searchBtn btns" mat-stroked-button (click)="reject()">Reject</button>


                </section>
            </section>


            <section class="detailsbox whiteclr">
                <ul class="detailsUL">
                    <li><label>Client Name</label>
                        <span>Swamy</span>
                    </li>

                    <li><label>Voter Id</label>
                        <span>4567899</span>
                    </li>

                    <li><label>CB Status</label>
                        <span>Active</span>
                    </li>

                    <li><label>Rejection Reasontus</label>
                        <span>Reason </span>
                    </li>

                    <li><label>Status</label>
                        <span>Reject</span>
                    </li>


                </ul>
                <section class="">
                    <a class="textBtn viewicbtn" (click)="cbReport()">View CB Report</a>

                    <button class="searchBtn btns" mat-raised-button color="primary" (click)="reason()">Raise Request</button>
                    <button class="searchBtn btns" mat-stroked-button (click)="reject()">Reject</button>


                </section>
            </section>




        </section>



        <!-- <button class="searchBtn wid100p"  mat-raised-button color="primary" (click)="newformUrl()" >Proceed</button> -->
    </section>

</section>





<ng-template #reasondialog>

   
    <div mat-dialog-content>
       <section class="label-center"> Please Enter Reason of Raising Request</section>
        <section class="inputsec">
            <!-- <label>Applied Amount</label> -->
            <mat-form-field appearance="outline">
              <input  required matInput placeholder="Add Remarks">
            </mat-form-field> 
              </section>
    </div>
    <div mat-dialog-actions class="center">
      <button mat-raised-button class="filledBtn" (click)="onNoClick()">Submit</button>
      <button mat-stroked-button class="strokedBtn" (click)="onNoClick()">Cancel</button>
    </div>
    </ng-template>



    

    <ng-template #cbreortdialog>
        <div mat-dialog-content>
    
           <section class="modelimg"> <img src="../../../../assets/images/cbreport.png" /></section>
    
            <!-- <section class="label-center"> Add New Center</section> -->
            <section class="inputsec">
                <label>Please select User to View CB Report</label>
                <mat-form-field appearance="outline">
                    <mat-select>
                        <mat-option>
                            Select
                        </mat-option>
                        <mat-option [value]="'option1'">
                            option1
                        </mat-option>
                        <mat-option [value]="'option2'">
                            option2
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </section>
          
        
        </div>
        <div mat-dialog-actions class="center">
            <button mat-raised-button class="filledBtn" (click)="onNoClick1()">View</button>
            <button mat-stroked-button class="strokedBtn" (click)="onNoClick1()">Cancel</button>
        </div>
    </ng-template>
    
    
    